<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/master/masterHeader.css"/>
    <link rel="stylesheet" href="/css/master/masterNavigation.css"/>
    <link rel="stylesheet" th:href="@{/css/product/productEdit.css}">

    <!--    <style>-->
    <!--      body {-->
    <!--        margin: 0px;-->
    <!--      }-->
    <!--      a {-->
    <!--        text-decoration: none;-->
    <!--        color: #000000;-->
    <!--      }-->
    <!--      .container__input {-->
    <!--        display: flex;-->
    <!--        flex-direction: column;-->
    <!--        margin-bottom: 2rem;-->
    <!--      }-->
    <!--      .container__input label {-->
    <!--        margin-top: 0.5rem;-->
    <!--      }-->
    <!--      .container__form {-->
    <!--        border: 1px solid #000000;-->
    <!--        padding: 3rem;-->
    <!--        margin-top: 5rem;-->
    <!--        width: 25rem;-->
    <!--        justify-self: center;-->
    <!--        border-radius: 7px;-->
    <!--      }-->
    <!--      input[type="file"] {-->
    <!--        margin-bottom: 0.5rem;-->
    <!--      }-->
    <!--      .preview-container {-->
    <!--        display: flex;-->
    <!--        gap: 10px;-->
    <!--      }-->
    <!--      .preview-container img {-->
    <!--        width: 45px;-->
    <!--        height: 45px;-->
    <!--        object-fit: cover;-->
    <!--        border-radius: 5px;-->
    <!--      }-->
    <!--      .preview-item {-->
    <!--        position: relative;-->
    <!--        display: inline-block;-->
    <!--      }-->
    <!--      .delete-btn {-->
    <!--        position: absolute;-->
    <!--        top: 0;-->
    <!--        right: 0;-->
    <!--        background: red;-->
    <!--        color: white;-->
    <!--        border: none;-->
    <!--        cursor: pointer;-->
    <!--        font-size: 5px;-->
    <!--      }-->
    <!--      .required-text {-->
    <!--        color: #ff0000;-->
    <!--        font-size: 0.5rem;-->
    <!--        margin-left: 0.5rem;-->
    <!--      }-->
    <!--      .container__main {-->
    <!--        justify-items: center;-->
    <!--      }-->
    <!--    </style>-->
</head>
<body>
<header th:replace="~{/fragments/masterHeader::masterHeader}"></header>
<nav th:replace="~{/fragments/masterNavigation::masterNav}"></nav>
<main class="container__main" id="main">
    <section class="master__product">
        <div class="container__form">
            <!-- form -->
            <form
                    action="/master/product/save"
                    method="post"
                    enctype="multipart/form-data">
                <!-- 상품명 -->
                <div class="container__input">
                    <label for="product-name"
                    >상품명<span class="required-text">* 필수</span></label
                    >
                    <input type="text" id="product-name" name="name"/>
                </div>
                <!-- /상품명 -->

                <!-- 카테고리 -->
                <div class="container__input">
                    <label for="category"
                    >카테고리<span class="required-text">* 필수</span></label
                    >
                    <select id="category" name="productCategory">
                        <option value="#" disabled="disabled" selected>
                            카테고리를 선택해주세요
                        </option>
                        <option value="포토카드">포토카드</option>
                        <option value="악세서리">악세서리</option>
                        <option value="컴퓨터용품">컴퓨터용품</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
                <!-- /카테고리 -->

                <!-- 판매가격 -->
                <div class="container__input">
                    <label for="price"
                    >판매 가격<span class="required-text">* 필수</span></label
                    >
                    <input type="text" id="price" name="price"/>
                </div>
                <!-- /판매가격 -->

                <!-- 재고 수량 -->
                <div class="container__input">
                    <label for="count"
                    >재고 수량<span class="required-text">* 필수</span></label
                    >
                    <input type="number" id="count" name="count"/>
                </div>
                <!-- /재고 수량 -->

                <!-- 상품 설명 -->
                <div class="container__input">
                    <label for="description">상품 설명</label>
                    <textarea
                            cols="47"
                            rows="5"
                            id="description"
                            name="productDescription"></textarea>
                </div>
                <!-- /상품 설명 -->

                <!-- 이미지 -->
                <div class="container__input">
                    <label>상품 메인 이미지 (1장만 업로드 가능)<span class="required-text">* 필수</span></label>

                    <!-- 새 이미지 업로드 -->
                    <input type="file" name="mainImage" id="mainImage" accept="image/*"
                           onchange="previewSingleImage(event, 'mainImagePreview')"/>
                    <div id="mainImagePreview" class="preview-container">
                    </div>
                </div>

                <!-- 상품 서브 이미지 (최대 3장) -->
                <div class="container__input">
                    <label>상품 서브 이미지 (최대 3장)</label>
                    <input type="file" id="subImage" name="subImage" accept="image/*" multiple
                           onchange="previewMultipleImages(event, 'subImagePreview', 3)"/>
                    <div id="subImagePreview" class="preview-container">
                    </div>
                </div>

                <div class="container__input">
                    <label>상품 설명 이미지 (최대 5장)</label>
                    <input type="file" id="descImage" name="descImage" accept="image/*" multiple
                           onchange="previewMultipleImages(event, 'descImagePreview', 5)"/>
                    <div id="descImagePreview" class="preview-container">
                    </div>
                </div>
                <!-- /이미지 -->

                <div class="HanCardNewButton2">
                    <button class="HanCancel" type="button" onclick="location.href='/master/product/list'">취소</button>
                    <button class="HanSubmit" type="submit">등록</button>
                </div>
            </form>
            <!-- /form -->
        </div>
    </section>
</main>
</body>
<script th:src="@{/js/master/masterNavigation.js}"></script>
<script>
    // 이미지 업로드
    function handleImageUpload(input, previewContainer, maxCount) {
      input.addEventListener("change", function () {
        if (this.files.length + previewContainer.children.length > maxCount) {
          alert(`최대 ${maxCount}장까지만 업로드할 수 있습니다.`);
          return;
        }

        for (let file of this.files) {
          const reader = new FileReader();
          reader.onload = function (e) {
            const previewItem = document.createElement("div");
            previewItem.classList.add("preview-item");

            const img = document.createElement("img");
            img.src = e.target.result;
            // 이미지 삭제
            const deleteBtn = document.createElement("button");
            deleteBtn.innerText = "X";
            deleteBtn.classList.add("delete-btn");
            deleteBtn.onclick = function () {
              previewItem.remove();
            };

            previewItem.appendChild(img);
            previewItem.appendChild(deleteBtn);
            previewContainer.appendChild(previewItem);
          };
          reader.readAsDataURL(file);
        }
      });
    }

    function handleSingleImageUpload(input, previewContainer) {
      input.addEventListener("change", function () {
        if (this.files.length > 1) {
          return;
        }

        previewContainer.innerHTML = "";
        const file = this.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
          const previewItem = document.createElement("div");
          previewItem.classList.add("preview-item");

          const img = document.createElement("img");
          img.src = e.target.result;

          const deleteBtn = document.createElement("button");
          deleteBtn.innerText = "X";
          deleteBtn.classList.add("delete-btn");
          deleteBtn.onclick = function () {
            previewContainer.innerHTML = "";
          };

          previewItem.appendChild(img);
          previewItem.appendChild(deleteBtn);
          previewContainer.appendChild(previewItem);
        };
        reader.readAsDataURL(file);
      });
    }
    // 업로드 이미지 개수 제한
    handleSingleImageUpload(
      document.getElementById("mainImage"),
      document.getElementById("mainImagePreview")
    );
    handleImageUpload(
      document.getElementById("subImage"),
      document.getElementById("subImagePreview"),
      3
    );
    handleImageUpload(
      document.getElementById("descImage"),
      document.getElementById("descImagePreview"),
      5
    );
</script>
</html>
