.HanCartBody {
  width: 100%;
  min-height: 60vh;
  background-color: #f1f0f1;
  padding: 20px 0;
}

.HanCartPDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.HanCartPDiv p{
color: #5b5b5b;
margin: 10px 0;
}

.HanCartPDivP1 {
  font-size: 30px;

}

.HanCartPDivP2 {
  font-size: 20px;

}


.HanCartMain {
  margin: 30px auto;
  background-color: white;
  border-radius: 10px;
  width: 1100px;
  padding: 30px;
  padding-top: 10px;

}


.HanCartTopPDiv {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 35px;
}

.HanCartTopPDiv p {
  display: inline-block;
  color: #A6A6A6;
  font-size: 14px;
  margin: 14px 5px;

}

.HanCartTopPDiv .Bold {
  font-weight: 600;
  font-size: 15px;
  color: black;
}


.HanCartTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 20px;

}

.HanCartTop p {
  display: inline-block;
  margin: 0;

}

.HanCartTopTitle {
  display: flex;
  align-items: center;
  gap: 5px;

}



.HanCartTopTitle img {
  padding-left: 10px;

}


.HanCartTopTitleP {
  font-weight: 600;
  font-size: 21px;

}



.HanCartMain ul {
  margin: 0;
  list-style-type: none;
  padding: 0;

}

.HanCartMain ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #ccc;

}

.HanCartCheckbox {}

.HanCartCheckbox input[type="checkbox"] {
  /* 기본 스타일 제거 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(/images/checkBoxOff22.svg) no-repeat center center;
}

.HanCartCheckbox input[type="checkbox"]:checked {

  background: url(/images/checkBoxOn22.svg) no-repeat center center;
}






.HanCartInfo {
  display: flex;
  align-items: center;

}


.HanCartImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;

}

.HanCartImgDiv img {
  max-width: 90px;
  max-height: 90px;

}


.HanCartProductName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  padding-left: 40px;
  border-right: 1px solid #ccc;

}

.HanCartProductName p {
  margin: 0;
  margin-bottom: 3px;
  display: inline-block;
}

.HanCartHr {
  width: 1100px;
  margin: 0;
  margin-bottom: -1px;
  border: none;
  border-bottom: 2px solid #434343;
  z-index: 10;
  position: absolute;
}

.HanCartHr2 {
  width: 800px;
  margin: 0;
  margin-bottom: -1px;
  border: none;
  border-bottom: 2px solid #434343;
  z-index: 10;
  position: absolute;
}

.HanCartHrBottom {
  width: 1100px;
  margin: 0;
  margin-bottom: -1px;
  border: none;
  border-bottom: 1px solid #ccc;
  z-index: 10;
  position: absolute;

}




.HanCartTopDeleteA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

.HanCartTopDeleteA button {
  border: 1px solid #ccc;
  padding: 5px 8px;
  text-decoration-line: none;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
}

.HanCartTopDeleteA button:Hover {
  color: #000000;
  background-color: #d1d1d1;
}

.HanCartBottomPrice {
  padding-right: 60px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;


}

.HanCartBottomPrice p {
  margin: 0;
  display: inline-block;
}

.HanCartBottomPriceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.HanCartBottomPriceFont {
  font-size: 14px;

}

.HanCartBottomPriceNum {
  font-size: 20px;

}

.HanCartSum {
  color: #fc2276;
  font-weight: bolder;

}
















/* 수량 버튼 css */


.HanProductCntDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

}


/* 수량버튼 css */
.HanProductSpinner {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100px;
  height: 22px;
  margin-top: 7px;
}

.HanProductSpinner button {
  width: 36px;
  height: 22px;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: all 0.5s;
}


.HanProductSpinner button:disabled {
  cursor: not-allowed;
  color: #aaa;
}

.HanProductSpinner button:hover:not(:disabled) {
  background-color: rgb(255, 242, 125);
}

.HanProductSpinner input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
}


.HanProductPriceSum {
  font-size: 23px;

}

.HanProductSumCnt {
  color: #969696;
  font-size: 14px;
  margin-bottom: 5px;
}

.HanProductPriceSumCnt {
  color: #969696;
  font-size: 22px;
}




/* 결제하기 버튼 */
.HanCartButtonContainer2 {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin: 0;
  margin-left: 50px;

}


.HanCartButtonContainer2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff27d;
  color: #22200d;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 260px;
  height: 50px;
  border: none;
}

.HanCartButtonContainer2 button:hover {
  background-color: #fded58;
  color: #0e0d05;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanCartButtonContainer2 button:disabled {
   background-color: #b9b9b9;
  color: #0e0d05;
}