<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 찾기 결과</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/memberHeader.css">
    <link rel="stylesheet" href="/css/memberFooter.css">
    <link rel="stylesheet" href="/css/member/feedbackPassword.css">
</head>

<body class="text-center">
<header th:replace="/fragments/memberHeader::memberHeader"></header>
<div class="container">
    <div class="foundId">
        <form th:action="@{/password/update}" th:method="post" class="feedbackForm">
            <p>
                비밀번호를 재설정하여 주십시오.
            </p>
            <div>
                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호"
                       required>
            </div>
            <div>
                <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호 확인" required>
            </div>
            <div>
                <button type="submit" class="submitBtn"><b>확인</b></button>
            </div>
        </form>
    </div>

</div>

</main>
<footer th:replace="/fragments/memberFooter::memberFooter"></footer>
</body>

</html>