<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아이디 찾기 결과</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/member/feedbackId.css}">
    <link rel="stylesheet" href="/css/memberHeader.css">
    <link rel="stylesheet" href="/css/memberFooter.css">
    <style>
        #pwBtn {
            background-color: #e7e7e7;
           a{ color:#363636;}
        }
    </style>
</head>

<body class="text-center">
<header th:replace="/fragments/memberHeader::memberHeader"></header>
<div class="container">
    <div class="foundId">
        <b>
            <p>아이디 찾기를 완료하였습니다.</p>
        </b>
        <p id="foundId">alfks8***</p>
    </div>
    <div class="link">
        <a th:href="@{/login}">
            <div id="loginBtn"><b>
                로그인</b>
            </div>
        </a>
        <div id="pwBtn">
            <a th:href="@{/find/password}"><b>비밀번호 찾기</b></a>
        </div>
    </div>
</div>

</main>
<footer th:replace="/fragments/memberFooter::memberFooter"></footer>
</body>

</html>