<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>관리자 주문 리스트</title>
  <link th:href="@{/css/master/masterNavigation.css}" rel="stylesheet">
  <link th:href="@{/css/master/masterHeader.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/master/list.css}">
  <script src="https://kit.fontawesome.com/f3f72a2177.js" crossorigin="anonymous"></script>

</head>
<body>

<header th:replace="~{/fragments/masterHeader::masterHeader}"></header>
<nav th:replace="~{/fragments/masterNavigation :: masterNav}"></nav>

<main id="main">
  <div class="container">
    <h2>전체 주문 목록</h2>
    <hr>
    <div class="orderList">
      <p><b>주문 내역</b> : <b id="red">2</b>건</p>
    </div>

    <table class="rwd-table">
      <tbody>
      <tr>
        <th>주문번호</th>
        <th>주문자</th>
        <th>받는이</th>
        <th>주문 상품</th>
        <th>구매수량</th>
        <th>상품 금액</th>
        <th>총 결제 금액</th>
        <th>결제수단</th>
        <th>주문 상태</th>
        <th>배송 상태</th>
        <th>주문 날짜</th>
      </tr>
      <tr>
        <!-- 테이블 행 전체에 주문상세 링크걸기 -->
        <a>
          <td>
            <b>20250228080808_0001</b>
          </td>
          <td>김춘식</td>
          <td>김춘식</td>
          <td>멋있는 스티커 5장</td>
          <td>1</td>
          <td>5,000원</td>
          <td class="totalPrice"><b>18,000원</b>
          </td>
          <td>카드</td>
          <td>주문완료</td>
          <td>배송완료</td>
          <td>2025.02.28 08:08:08</td>
      </tr>
      </a>
      <tr>
        <td>
          <b>20250228080808_0001</b>
        </td>
        <td>김춘식</td>
        <td>김춘식</td>
        <td>예쁜 스티커</td>
        <td>2</td>
        <td>5,000원</td>
        <td class="totalPrice"><b>18,000원</b>
        </td>
        <td>카드</td>
        <td>주문완료</td>
        <td>배송완료</td>
        <td>2025.02.28 08:08:08</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ul class="pagination">
    <li class="disabled"><a href="#"><i class="ace-icon fa fa-angle-double-left"></i></a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#"><i class="ace-icon fa fa-angle-double-right"></i></a></li>
  </ul>

</main>
<script th:src="@{/js/master/masterNavigation.js}"></script>
</body>

</html>