<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>☁️CloudStar WorkShop 계정관리</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/member/join.css">
</head>

<body class="text-center">
<header th:replace="/fragments/memberHeader::memberHeader"></header>
<div th:replace="/fragments/menuBar::menuBar"></div>
<input type="hidden" th:value="${alert}" id="dataAlert">

<div class="container edit" style="margin-bottom:320px;">

    <div class="title">
        <h1>계정 수정</h1>
    </div>
    <div class="starArea">
        <span id="star">*는 필수입니다.</span>
    </div>
    <form th:action="@{/member/edit}" th:method="post" enctype="multipart/form-data" class="joinForm">
        <input type="hidden" name="provider" th:if="${provider!=null}" th:value="${provider}">
        <div class="first-input input__block first-input__block">
            <input type="hidden" th:value="${userId}" name="userId">
            <span class="userId">아이디 : <b>[[${userId}]]</b></span>
            <span th:if="${provider!=null}" id="blue">소셜 로그인 회원</span>
        </div>
        
        <div th:if="${provider==null}">
            <div id="hiddenPasswordArea">
                <p>비밀번호는 대소문자, 숫자, 특수문자 조합으로 8~15자리여야합니다.</p>
            </div>
            <div class="passwordArea">
                <label for="userPassword" class="label" id="hiddenPassword">*비밀번호 <i class="fa-solid fa-circle-info"></i></label><i class="fa-solid fa-eye-slash" id="eye"></i>
                <input type="password" class="form-control" id="userPassword" name="userPassword"
                       placeholder="비밀번호" required th:value="${userPassword}">
            </div>
            <div>
                <label for="passwordCheck" class="label">*비밀번호 확인</label>
                <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호 확인" required th:value="${userPassword}">
            </div>
            <div class="errorArea">
                <span class="error" style="display: none;" id="passwordError">비밀번호가 일치하지 않습니다.</span>
            </div>
            <div th:if="${valid_userPassword !=null}">
                <p class="error" th:text="${valid_userPassword}"></p>
            </div>
        </div>
        <div id="hiddenNameArea">
            <p>이름은 한글 2~5자 또는 성과 이름을 구분하여 영문 1~10자리씩이여야 합니다.</p>
        </div>
        <div id="hiddenPhoneArea">
            <p>휴대전화번호는 010, 011, 016, 017, 018, 019로 시작하며, 숫자 10~11자리여야 합니다.</p>
        </div>
        <div class="namePhoneLabel">
            <label for="userName" class="label" id="hiddenName">*이름 <i class="fa-solid fa-circle-info"></i></label>
            <label for="phoneNumber" class="label" id="hiddenPhone">*연락처 <i class="fa-solid fa-circle-info"></i></label>
        </div>

        <div class="namePhone">
            <input type="text" class="form-control " id="userName" name="name" placeholder="이름" th:value="${name}">
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="연락처" th:value="${phoneNumber}" maxlength="11">
        </div>
        <div th:if="${valid_name !=null || valid_phoneNumber !=null}">
            <p class="error" th:text="${valid_name}"></p>
            <p class="error" th:text="${valid_phoneNumber}"></p>
        </div>
        <div class="btnArea">
            <button class="btn" type="button" id="button">수정하기</button>
        </div>
    </form>
</div>
</div>
<footer th:replace="/fragments/memberFooter::memberFooter"></footer>
 <script th:src="@{/js/member/edit.js}"></script>
<script src="/js/member/alert.js"></script>
</body>

</html>