<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>☁️CloudStar WorkShop 회원가입</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/member/join.css">

</head>

<body class="text-center">
    <div class="container">
        <div class="title">
            <h1>회원가입</h1>
        </div>
        <div class="starArea">
            <span id="star">*는 필수입니다.</span>
        </div>
        <form th:action="@{/join}" th:method="post" enctype="multipart/form-data" class="joinForm">
            <div id="hiddenIdArea">
                <p>아이디는 영소문자, 숫자조합으로 6~11자리여야 합니다.</p>
            </div>
            <div>
                <label for="userId" class="label labelId" id="hiddenId">*아이디 <i
                        class="fa-solid fa-circle-info"></i></label>
                <input type="text" placeholder="아이디" class="input" id="userId" name="userId" required
                    th:value="${userId}" />
                <button type="button" id="duplicateId">중복 확인</button>
            </div>
            <div id="hiddenPasswordArea">
                <p>비밀번호는 대소문자, 숫자, 특수문자 조합으로 8~15자리여야합니다.</p>
            </div>

            <div class="errorArea" th:if="${valid_userId!=null}">
                <p class="error" th:text="${valid_userId}"></p>
            </div>
            <div>
                <div class="passwordArea">
                    <label for="userPassword" class="label" id="hiddenPassword">*비밀번호
                        <i class="fa-solid fa-circle-info"></i>
                    </label><i class="fa-solid fa-eye" id="eye"></i>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호"
                        required>
                </div>
                <div>
                    <label for="passwordCheck" class="label">*비밀번호 확인</label>
                    <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호 확인" required>
                </div>
            </div>

            <div class="errorArea">
                <span class="error" style="display: none;" id="passwordError">비밀번호가 일치하지 않습니다.</span>
            </div>

            <div th:if="${valid_userPassword !=null}">
                <p class="error" th:text="${valid_userPassword}"></p>
            </div>
            <div id="hiddenNameArea">
                <p>이름은 한글 2~5자 또는 성과 이름을 구분하여 영문 1~10자리씩이여야 합니다.</p>
            </div>
            <div id="hiddenPhoneArea">
                <p>휴대전화번호는 010, 011, 016, 017, 018, 019로 시작하며, 숫자 10~11자리여야 합니다.</p>
            </div>
            <div class="namePhoneLabel">
                <label for="userName" class="label" id="hiddenName">*이름 <i class="fa-solid fa-circle-info"></i></label>
                <label for="phoneNumber" class="label" id="hiddenPhone">*연락처 <i
                        class="fa-solid fa-circle-info"></i></label>
            </div>

            <div class="namePhone">
                <input type="text" class="form-control " id="userName" name="name" placeholder="이름" th:value="${name}">
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="연락처"
                    th:value="${phoneNumber}" maxlength="11">
            </div>
            <div th:if="${valid_name !=null || valid_phoneNumber !=null}">
                <p class="error" th:text="${valid_name}"></p>
                <p class="error" th:text="${valid_phoneNumber}"></p>
            </div>

            <!-- separator -->
            <div class="separator">
                <p>약관 동의</p>
            </div>
            <div class="agree">
                <ul class="join_box">
                    <li class="checkBox check01">
                        <ul class="agreeAll">
                            <li><i class="fa-regular fa-circle-check" id="check01"></i></li>
                            <li>전체 동의</li>
                        </ul>
                    </li>
                    <li class="checkBox check02">
                        <ul class="agreeAll">
                            <li><i class="fa-regular fa-circle-check" id="check02"></i></li>
                            <li>이용약관 동의<span class="essential">[필수]</span></li>
                            <li class="checkBtn">
                                <input type="hidden" name="termsAgreement" id="termsAgreement">
                            </li>
                        </ul>
                        <textarea class="custom_textarea">여러분을 환영합니다.구름별 공방 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 구름별 공방(이하 "몰")의 회원가입을 위해 아래의 이용약관을 확인하시고 동의해 주세요.
제1조 (목적)
이 약관은 '구름별 공방'에서 제공하는 온라인 굿즈 쇼핑몰 서비스(이하 "서비스")를 이용하는 회원의 권리, 의무 및 책임 사항을 규정합니다.
제2조 (회원가입)
회원가입은 반드시 본 약관에 동의한 후, 개인정보를 제공하여 회원가입 신청을 완료한 후 진행됩니다. 회원가입을 신청함으로써, 회원은 본 약관에 동의한 것으로 간주됩니다.
제3조 (개인정보 수집 및 이용)
회원가입 시 제공되는 개인정보는 '구름별 공방'의 서비스 제공을 위한 최소한의 정보만을 수집하며, 제공된 개인정보는 관련 법령에 따라 보호됩니다. 회원은 언제든지 개인정보를 수정하거나 삭제할 수 있습니다.
제4조 (회원의 의무)
회원은 본 약관 및 법령을 준수하여야 하며, 타인의 권리를 침해하거나 불법적인 활동을 하지 않아야 합니다.
제5조 (서비스 이용)
회원은 '구름별 공방'의 서비스를 정상적으로 이용할 수 있으며, 재화 또는 용역을 구매하거나 판매하는 거래를 체결할 수 있습니다. 단, 서비스 이용에 따른 책임은 회원에게 있습니다.
제6조 (회원 탈퇴 및 자격 제한)
회원은 언제든지 탈퇴를 요청할 수 있으며, '구름별 공방'은 회원의 탈퇴를 즉시 처리합니다. 회원이 본 약관을 위반한 경우, '구름별 공방'은 회원 자격을 제한하거나 정지할 수 있습니다.
제7조 (회원 탈퇴 후 개인정보 보관)
'구름별 공방'은 회원 탈퇴 후 개인정보를 관련 법령에 따라 6개월 간 보관할 수 있으며, 이후에는 개인정보를 즉시 파기합니다. 다만, 법령에 의해 일정 기간 보관이 의무화된 개인정보는 해당 기간 동안 보관할 수 있습니다. 개인정보 파기 방법은 안전한 방식으로 처리되며, 이에 대한 상세한 사항은 개인정보 처리방침에 명시됩니다.
제8조 (약관의 변경)
'구름별 공방'은 서비스 개선 및 법령 개정에 따라 본 약관을 변경할 수 있으며, 변경된 약관은 적용일자 전후로 공지됩니다. 변경된 약관은 회원이 동의한 것으로 간주됩니다.
제9조 (면책조항)
'구름별 공방'은 천재지변 등 불가항력적인 사유로 인한 서비스 중단에 대해 책임을 지지 않습니다. 또한, 회원의 부주의로 인한 피해에 대해서도 책임을 지지 않습니다.
제10조 (기타사항)
이 약관에 명시되지 않은 사항은 관련 법령 및 '구름별 공방'의 정책에 따릅니다.
        </textarea>
                    </li>
                    <li class="checkBox check03">
                        <ul class="agreeAll">
                            <li><i class="fa-regular fa-circle-check" id="check03"></i></li>
                            <li>개인정보 수집 및 이용에 대한 안내<span class="essential">[필수]</span></li>
                            <li class="checkBtn">
                                <input type="hidden" name="privacyAgreement" id="privacyAgreement">
                            </li>
                        </ul>

                        <textarea
                            class="custom_textarea">개인정보보호법에 따라 구름별 공방에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.
    1. 수집하는 개인정보이용자가 회원제 서비스를 이용하기 위해 회원가입을 할 경우, 구름별 공방은 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.회원가입 시점에 네이버가 이용자로부터 수집하는 개인정보는 아래와 같습니다.
 - 회원 가입 시 필수항목으로 아이디, 비밀번호, 이름, 휴대전화번호를 수집합니다. - 회원정보 또는 개별 서비스에서 프로필 정보(프로필 사진)를 설정할 수 있습니다.
2. 수집한 개인정보의 이용
구름별 공방 서비스의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.
- 회원 가입 의사의 확인,이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.
- 유료 서비스 제공에 따르는 구매 및 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다.
 - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.
 3. 개인정보의 보관기간
회사는 이용자의 개인정보를 회원 탈퇴 시 6개월 간 보관하고 있습니다.
4. 개인정보 수집 및 이용 동의를 거부할 권리
이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. 회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.</textarea>

                    </li>
                </ul>
            </div>

            <div class="btnArea">
                <button class="btn" type="button" id="button">가입하기</button>
            </div>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/js/member/join.js}"></script>

</body>

</html>