<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>☁️CloudStar WorkShop 로그인</title>
    <link rel="stylesheet" href="/css/member/login.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <style>

    </style>
</head>
<body class="text-center">
<input type="hidden" th:value="${alert}" id="dataAlert2">
<input type="hidden" th:if="${param.error}" value="로그인에 실패하였습니다." id="dataAlert">
<div class="container">
    <div class="title">
        <h1>로그인</h1>
    </div>
    <!-- Form -->
    <form th:action="@{/login}" method="post" class="loginForm">
        <!-- id input -->
        <div class="first-input input__block first-input__block">
            <input type="text" placeholder="아이디" class="input" name="userId" />
        </div>
        <!-- password input -->
        <div class="input__block">
            <input type="password" placeholder="비밀번호" class="input" id="password" name="userPassword" />
        </div>
        <!-- sign in button -->
        <button class="btn">
            로그인
        </button>
    </form>


    <div class="find">
        <a th:href="@{/find/id}">아이디 찾기</a><span>|</span><a th:href="@{/find/password}">비밀번호 찾기</a><span>|</span><a th:href="@{/join}" id="joinLink">회원가입</a>
    </div>
    <!-- separator -->
    <div class="separator">
        <p>OR</p>
    </div>
    <div class="easyLogin">
        <p>SNS 간편 가입 및 로그인</p>
    </div>
    <div class="oauth2">
        <a href="/oauth2/authorization/google"><img th:src="@{/images/google.png}" class="oauth2Image"></a>
        <a href="/oauth2/authorization/naver"><img th:src="@{/images/naver2.png}" class="oauth2Image"></a>
        <a href="/oauth2/authorization/kakao"><img th:src="@{/images/kakao2.png}" class="oauth2Image"></a>
    </div>
</div>

</main>
<script src="/js/member/alert.js"></script>

</body>

</html>