<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인</title>
    <link rel="stylesheet" href="/css/master/login.css">
</head>
<body>
<div class="container">
    <div class="logoArea">
        <img src="/images/logo.png" id="logo">
        <h1><i class="fa-solid fa-user-tie"></i>Administrator</h1>
    </div>
    <main>
        <form th:action="@{/master/login}" th:method="post">
            <input type="text" name="userId" id="userId" placeholder="아이디" required>
            <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호" required>
            <button type="submit">로그인</button>

        </form>
    </main>
</div>
</body>
</html>