<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>☁️CloudStar WorkShop 회원 배송지</title>

    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/memberDeliveryList.css}">

</head>

<body>


<!-- 헤더 시작 -->

<header th:replace="/fragments/memberHeader::memberHeader"></header>
<input type="hidden" th:value="${alert}" id="dataAlert">

<!-- 헤더 끝 -->


<!-- 메인 시작 -->



<div class="HanMemDeliveryBody">


    <div class="" id="addressModal">
        
    <!--메뉴바 시작-->

    <div th:replace="/fragments/menuBar::menuBar"></div>

    <!--메뉴바 끝-->


        <div class="HanAddressPopContainer">

            <div class="">

                <div class="HanCardNewLogoDiv">

                    <img th:src="@{/images/logoMain.png}" alt="" width="600px" height="auto">

                </div>

                <h1>CloudStar Workshop</h1>

            </div>

            <!-- <p class="HanAddressPopTitle">배송지 목록</p> -->

            <!-- 배송지 목록 -->
            <div class="HanAddressPopCardContainer">
                <input type="hidden" th:value="${session.memberId}" name="memberId" id="sessionId">

                <!-- 배송지 카드 -->

                <div class="HanAddressPopCard" th:each="deliveryList : ${deliveryList}" th:id="'deliveryBody'+${deliveryList.id}">

                    <div class="HanAddressPopRadio">

                        <div class="HanAddressPopCardTextDiv">

                            <div class="HanAddressPopCardTextTagDiv">

                                <p class="HanAddressPopCardTextTag" th:text="${deliveryList.deliveryName}"></p>

                                <p class="HanAddressPopCardTextP1" th:if="${deliveryList.defaultDelivery == true}">기본 배송지</p>
                                <p class="HanAddressPopCardTextP1" th:if="${deliveryList.defaultDelivery == false}">배송지</p>

                                <img th:src="@{/images/close.svg}" alt="" th:id="${deliveryList.id}" class="XBtn">

                            </div>

                            <div class="HanAddressPopCardTextDiv2">

                                <p class="HanAddressPopCardTextP2" th:text="${deliveryList.postCode}"></p>
                                <p class="HanAddressPopCardTextP2" th:text="${deliveryList.address}"></p>

                            </div>

                            <div class="HanAddressPopCardTextDiv3">
                                <p class="HanAddressPopCardTextName" th:text="${deliveryList.recipientName}"></p>
                                <p class="HanAddressPopCardTextName" th:text="${deliveryList.recipientPhoneNumber}"></p>
                            </div>
                            <div class="HanAddressPopCardTextDiv4">
                                <p th:if="${deliveryList.memo !=null}">배송 요청 사항 : </p>
                                <p class="HanAddressPopCardTextMemo" th:text="${deliveryList.memo}"></p>
                              </div>

                        </div>

                    </div>

                </div>

                <!-- 배송지 카드 끝 -->


            </div>

            <div>

                <div class="HanNewButton">

                    <img th:src="@{/images/plus.svg}" alt="">
                    <button id="openNewAddressModal" class="HanNew" type="button" onclick="location='http://localhost:8080/member/delivery/create'"> 배송지 신규 입력</button>

                </div>

    
            </div>

        </div>

    </div>

</div>
</div>


<!-- 메인 끝 -->


<!-- 푸터 시작 -->

<footer th:replace="/fragments/memberFooter::memberFooter"></footer>

<!-- 푸터 끝 -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script th:src="@{/js/member/alert.js}"></script>
<script th:src="@{/js/member/deliveryList.js}"></script>
</body>

</html>