<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudStarWorkshop</title>

    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/member/memberDeliveryNew.css}">

</head>

<body>

<!-- 헤더 시작 -->

<header th:replace="/fragments/memberHeader::memberHeader"></header>

<!-- 헤더 끝 -->


<!-- 메인 시작 -->

<div class="HanMemDeliveryNewBodyDiv">

    <!--메뉴바 시작-->

    <div th:replace="/fragments/menuBar::menuBar"></div>

    <!--메뉴바 끝-->

    <div class="HanSignUpBody">

        <div class="HanSignUpDiv">

            <div class="">

                <div class="HanCardNewLogoDiv">

                    <img th:src="@{/images/logoMain.png}" alt="" width="600px" height="auto">

                </div>

                <h1>CloudStar Workshop</h1>

            </div>

            <ul>
                <!-- <div>
                <a href="">배송지 목록</a>
                <p> > </p>
                <a href="">배송지 작성</a>
              </div> -->

                <form action="" method="post" id="HanSignUpForm">


                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpPw1">배송지 별칭</label>
                        <input type="password" id="HanSignUpPw1" name="cardNum" placeholder="배송지 별칭을 입력해주세요"
                               class="HanSignUpInput">

                        <p style="display: none;" id="HanSignUpPwFail1">비밀번호가 일치하지 않습니다</p>
                        <p class="HanSignUpInfo">비밀번호를 입력해주세요</p>

                    </li>

                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpPw1">받는분 성함</label>
                        <input type="password" id="HanSignUpPw1" name="cardNum" placeholder="성함을 입력해주세요"
                               class="HanSignUpInput">

                        <p style="display: none;" id="HanSignUpPwFail1">비밀번호가 일치하지 않습니다</p>
                        <p class="HanSignUpInfo">비밀번호를 입력해주세요</p>

                    </li>

                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpPw2">받는분 연락처</label>
                        <input type="password" id="HanSignUpPw2" name="cardNum" placeholder="연락처를 입력해주세요" required
                               class="HanSignUpInput">

                        <p style="display: none;" id="HanSignUpPwFail2">비밀번호가 일치하지 않습니다</p>
                        <p class="HanSignUpInfo">비밀번호를 입력해주세요</p>

                    </li>


                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpName">우편번호</label>
                        <input type="text" id="HanSignUpName" name="cardName" placeholder="우편번호를 입력해주세요" required
                               class="HanSignUpInput">

                        <a><i class="HanAddressPopNewIcon"></i></a>

                        <p class="HanSignUpInfo">이름을 입력해주세요</p>

                    </li>


                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpName">도로명 주소,지번 주소</label>
                        <input type="text" id="HanSignUpName" name="cardName" placeholder="주소를 입력해주세요" required
                               class="HanSignUpInput">

                        <p class="HanSignUpInfo">이름을 입력해주세요</p>

                    </li>

                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpPhone">상세 주소</label>
                        <input type="tel" id="HanSignUpPhone" name="cardName32" placeholder="상세 주소를 입력해주세요" required
                               class="HanSignUpInput">

                        <p class="HanSignUpInfo">전화번호를 입력해주세요</p>

                    </li>


                    <li class="HanSignUpLi hanNone LiCheck">

                        <label for="HanSignUpPhone">배송 요청 사항</label>
                        <input type="tel" id="HanSignUpPhone" name="cardName32" placeholder="배송 요청 사항을 입력해주세요" required
                               class="HanSignUpInput">

                        <p class="HanSignUpInfo">전화번호를 입력해주세요</p>

                    </li>


                    <li class="HanSignUpLi hanNone LiCheck HanCheckboxLi">

                        <div class="HanMemberDeliveryCheckDiv">

                            <input type="checkbox" id="HanCheckbox" name="cardName32" class="HanSignUpInput">
                            <label for="HanCheckbox"></label>
                            <p>기본 배송지로 등록</p>
                        </div>
                        <p class="HanSignUpInfo">전화번호를 입력해주세요</p>

                    </li>


                </form>

            </ul>

            <div class="HanSignUpButton">
                <button class="HanCancel" type="button">취소</button>
                <button class="HanSubmit" type="submit" form="HanSignUpForm" id="HanSignUpSubmit">등록</button>
            </div>

        </div>

    </div>

</div>
</div>
<!-- 메인 끝 -->


<!-- 푸터 시작 -->

<footer th:replace="/fragments/memberFooter::memberFooter"></footer>

<!-- 푸터 끝 -->


</body>

</html>