<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>☁️CloudStar WorkShop 계정 찾기</title>
    <link rel="stylesheet" th:href="@{/css/member/findPassword.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mainPage.css">

</head>

<body class="text-center">
    <header th:replace="/fragments/memberHeader::memberHeader"></header>
    <div class="container">
        <div id="findPassword">
            <ul class="links">
                <li>
                    <a th:href="@{/find/id}">아이디찾기</a>
                </li>
                <li>
                    <a th:href="@{/find/password}">비밀번호 찾기</a>
                </li>
            </ul>


            <!-- Form -->
            <form class="findForm">
                <div class="first-input input__block first-input__block">
                    <input type="text" placeholder="아이디" class="input" name="userId" id="userId" />
                </div>

                <div class="input__block">
                    <input type="text" placeholder="휴대전화번호" class="input" id="phoneNumber" name="phoneNumber" />
                </div>

                <button type="button" class="btn" id="findPasswordBtn"><b>비밀번호 찾기 </b></button>
            </form>

        </div>
        <div id="found" style="display: none;">
        <div class="foundPassword">
            <form th:action="@{/password/edit}" th:method="post" class="feedbackForm">
                <input type="hidden" name="userId" id="userIdInput">
                <p>
                    비밀번호를 재설정하여 주십시오.
                </p>
                <div>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호"
                           required>
                </div>
                <div>
                    <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호 확인" required>
                </div>
                <div>
                    <button type="submit" class="submitBtn"><b>확인</b></button>
                </div>
            </form>
        </div>
    </div>


    </div>

    <footer th:replace="/fragments/memberFooter::memberFooter"></footer>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/alert.js"></script>
    <script src="/js/member/find.js"></script>
</body>

</html>