@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  }

  * {
    font-family: NanumSquareRound;

  }

body {
    background-color: #f1f0f1;
    margin: 0;
}

.container{
}

main{
    width: 400px;
    margin : 10px auto;
    background-color: white;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.logoArea{
    text-align: center;
    margin : 50px auto 10px auto;
    width: 400px;
    h1{
        width: 400px;
        i{
        margin-right: 10px;
        }
    }
}

#logo{
    width: 200px;
}

form{
    padding: 50px;
    input{
        width: 95%;
        margin-bottom: 18px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 10px;
        &:focus{
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
    button{
        margin-top: 20px;
        width: 100%;
        height: 40px;
        font-size: 16px;
        background-color: #fff6a6;
        border: none;
                &:hover {
            background-color: #fff27a;
            color: #585858;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}