/* 네비 시작 */

.SlideNavBody {
  position: relative;

}

.logoArea {
  width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.logoImage {
  width: 200px;
  height: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #5c677d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidenav a {
  width: 250px;
  padding: 15px 0;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  background-color: #7d8597;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.SlideNavOpenDiv {
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 70px;
  left: -50px;
  z-index: 1;

  i {
    color: #5c677d;
  }

}

.SlideShow {
  left: 20px;
}



.SlideNavCloseDiv {
  position: absolute;
  top: 20px;
  left: 190px;
  z-index: 20;

  i {
    color: white;
  }
}


.SlideNavCloseDiv img,
.SlideNavOpenDiv img {
  transition: all 0.3s ease-in-out;
  width: 35px;
  height: 35px;
  cursor: pointer;

}

.SlideClose:hover {
  transform: translateX(-6px);

}

.SlideOpen:hover {
  transform: translateX(6px);

}

main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}