@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
 }

 @font-face {
      font-family: 'Ownglyph_jiwoosonang';
      src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_jiwoosonang.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
 }
  
 * {
    font-family: NanumSquareRound;
  
 }
  
  

/*헤더시작  */
header {
    margin: 0;
    padding: 0;
    gap: 0;
}

.siteName{
    font-family: 'Ownglyph_jiwoosonang';
}

.masterHeader {
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #f7dad9;
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.headerTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
}

.headerTitleMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


.headerTitleMenu .fa-user-tie {
    font-size: 22px;
}

.headerTitle p {
    display: inline-block;
    font-size: 22px;
}

p {
    margin: 0;
}


.headerTitleADiv {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}


.homePage i {
    margin-bottom: -6px;
    margin-right: 3px;
    width: 22px;
    height: auto;
}

.homePage a {
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    color: white;
    background-color: #5c677d;
}

.homePage a:hover {
    font-weight: 600;
}


.logout a {
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    color: white;
}

.logout{
    i{  
        margin-right: 5px;
    }
 
}


.logout a:hover {
    font-weight: 600;
}



.headerLogoArea {
    display: flex;
    justify-content: end;
    width: 140px;
}

body {
    margin: 0;
}


p {
    margin: 0;
}



.headerLogoArea {
    display: flex;
    justify-content: end;
    width: 120px;
    margin-left: 20px;
}

.masterHeader {
    background-color: #7d8597;
    color: white;
}

.adminText {
        font-weight: 600;
        margin-top: 5px;

}

#mainLogo {
    img {
        margin-top: 20px;
    }
}

/* 헤더 끝 */