<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 네비게이션</title>
    <link href="/css/masterNavigation.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="masterNav" id="mySidenav"  class="sidenav">
    <div class="logoArea">
        <img th:src="@{/images/logo.png}" class="logoImage">
    </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">상품 관리</a>
    <a href="#">주문 관리</a>
    </div>
</nav>
</body>

</html>