<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 네비게이션</title>
    <link href="/css/masterNavigation.css" rel="stylesheet">
</head>
<body>

    <!-- 네비 바 시작 -->

    <nav th:fragment="masterNav">

        <div class="SlideNavBody">

            <div class="SlideNavOpenDiv ">
                <i class="fa-solid fa-2x fa-circle-arrow-right SlideOpen"  onclick="openNav()"></i>
            </div>

        </div>

        <div id="mySidenav" class="sidenav">

            <div>
                <a href="#">상품 관리</a>
                <a th:href="@{/master/checkout/list}">주문 관리</a>
            </div>

            <div class="SlideNavCloseDiv">
                <i class="fa-solid fa-2x  fa-circle-arrow-left SlideClose" onclick="closeNav()"></i>

            </div>

        </div>

        </div>

    </nav>

    <!-- 네비 바 끝 -->

</body>

</html>