<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 헤더</title>

</head>

<body>

<header th:fragment="masterHeader">

    <div class="masterHeader">

        <div class="headerTitle">

            <div class="headerTitleMenu">
                <a href="">
                    <i class="fa-solid fa-user-tie"></i>
                </a>
            </div>

            <div>
                <p>구름별 공방</p>
                <p>Adiministrator</p>
            </div>
        </div>

        <div class="headerTitleADiv">

            <div class="homePage">

                <a href="@{/}" class=""><img th:src="@{/images/home3.svg}" alt="">홈페이지</a>
            </div>

            <div class="logout">
                <a href="@{/logout}" class="">로그아웃</a>
            </div>

        </div>
    </div>

</header>

<!-- 헤더 끝 -->

</body>

</html>