<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 헤더</title>
    <style>

    </style>
</head>

<body>

    <header th:fragment="masterHeader">

        <div class="masterHeader">

            <div class="headerTitle">

                <div id="mainLogo">
                    <img th:src="@{/images/mainLogoTitle.png}" width="auto" height="40px">
                </div>
                <div>
                    <p class="adminText">Administrator</p>
                </div>
            </div>

            <div class="headerTitleADiv">

                <div class="homePage">

                    <a th:href="@{/}"><i class="fa-solid fa-house"></i><span>홈페이지</span></a>
                </div>

                <div class="logout">
                    <a th:href="@{/logout}"><i class="fa-solid fa-power-off"></i><span>로그아웃</span></a>
                </div>

            </div>
        </div>

    </header>

    <!-- 헤더 끝 -->

</body>

</html>