<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!-- 네비 시작 -->
<nav th:fragment="memberNav">
    <!-- 네비 시작 -->

    <div class="HanNaviMain">

        <div class="HanNaviLogoDiv">

            <img src="/images/logo.png" alt="" width="auto" height="350px">

        </div>

        <!-- <hr class="HanHeaderHr"> -->

        <div class="HanNaviBar">

            <a href="">전체상품</a>
            <a href="">카테고리1</a>
            <a href="">카테고리2</a>
            <a href="">카테고리3</a>

        </div>
        <hr class="HanHeaderHr2">

    </div>

    <!-- 네비 끝 -->
</nav>
<!--네비 끝-->
</body>
</html>