<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!-- 네비 시작 -->
<nav th:fragment="memberNav">
    <div class="HanNaviMain">

        <div class="HanNaviLogoDiv">
            <p>구름별 공방</p>

        </div>

        <hr class="HanHeaderHr">

        <div class="HanNaviBar">

            <a href="">전체상품</a>
            <a href="">카테고리1</a>
            <a href="">카테고리2</a>
            <a href="">카테고리3</a>

        </div>

        <div class="HanNaviBarImage">
            <img src="images/naviImage3.png" alt="네비 배너 이미지">
        </div>


    </div>
</nav>
<!--네비 끝-->
</body>
</html>