<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 푸터</title>
</head>
<link rel="stylesheet" href="css/mainPage.css">
<body>
<!-- 푸터 시작 -->

<footer th:fragment="memberFooter">
<div class="HanFooterBody">

    <div class="THfooter">
        <div class="THlinks">
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">전자금융거래 이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">청소년보호정책</a>
            <a href="#">전자금융거래약관</a>
            <a href="#">고객센터</a>
        </div>
        <div class="THfooterDiv1">

            <!-- 로고 이미지 -->

            <!-- <div>
            <div class="THfooterLogo"></div>
          </div> -->

            <div class="THinfo">
                <p>상호명 : 구름별 공방</p>
                <p>site : http://localhost:8080/</p>
                <p>주소 : 부산 부산진구 중앙대로 631 선문빌딩 9F</p>

                <div class="HanFooterGit">

                    <img src="/images/git.svg" alt="">
                    <p>@yako13 @Ranme95 @kimhansol-code</p>

                </div>
            </div>

        </div>
    </div>


</div>
</footer>

<!-- 푸터 끝 -->

</body>
</html>