

<!--마이페이지 메뉴바 시작 -->
    <div th:fragment="menuBar" class="HanMenuBarBody">

        <div class="HanMenuBarMain">

            <div>

                <p class="HanMenuBarP1">마이페이지</p>
            </div>
            <hr class="HanMenuBarHr">

            <div class="HanMenuBarDiv">
                <a th:href="@{/member/checkout/list}">주문 목록</a>

                <a th:href="@{/init/member}">회원 수정</a>


                <a th:href="@{/member/delivery/list}">배송지 관리</a>


                <a th:href="@{/member/pay/list}">결제 관리</a>


            </div>

            <div class="HanMenuBarA">

                <a th:href="@{/account/cancellation}">회원 탈퇴</a>


            </div>


        </div>


<!--마이페이지 메뉴바 끝 -->
