<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--    <link rel="stylesheet" href="/css/memberHeader.css" />-->
    <!--    <link rel="stylesheet" href="/css/memberFooter.css" />-->
    <link rel="stylesheet" href="/css/mainPage.css" />

    <style>
      a {
        text-decoration: none;
        color: #111111;
      }

      .container {
        justify-self: center;
      }
      .container__main {
        width: 1400px;
        margin-top: 2rem;
      }
      .p-text__right {
        text-align: right;
      }
      .p__small {
        font-size: 0.8rem;
      }
      .container__product-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
      }
      .card__product-image {
        width: 15rem;
        height: 21rem;
      }
      .product-image {
        width: 15rem;
        height: 15rem;
      }
      .button__top {
        position: fixed;
        right: 2rem;
        bottom: 3rem;
      }
    </style>
  </head>
  <body>
    <header th:replace="~{/fragments/memberHeader::memberHeader}"></header>
    <nav th:replace="~{/fragments/memberNav::memberNav}"></nav>
    <main class="container container__main">
      <p class="p-text">{search-name}</p>
      <hr />
      <p class="p-text p-text__right">총 {nn} 개 중 1-40</p>
      <select name="sort-select">
        <option value="20" selected>20개</option>
        <option value="30">30개</option>
        <option value="40">40개</option>
      </select>

      <!-- product card -->
      <div class="container__product-image">
        <a href="/product/detail"
          ><div class="card__product-image">
            <img class="product-image" src="/images/product1.png" />
            <p>코지캣 쉬폰 포스터</p>
            <p class="p__small">30,000 원</p>
          </div>
        </a>

        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>코지캣 쉬폰 포스터</p>
          <p class="p__small">30,000 원</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>코지캣 쉬폰 포스터</p>
          <p class="p__small">30,000 원</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>코지캣 쉬폰 포스터</p>
          <p class="p__small">30,000 원</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>코지캣 쉬폰 포스터</p>
          <p class="p__small">30,000 원</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
        <div class="card__product-image">
          <img class="product-image" src="/images/product1.png" />
          <p>product name</p>
          <p>product price</p>
        </div>
      </div>
      <!-- /product card -->
    </main>
    <aside>
      <button class="button__top" type="button" onclick="window.scrollTo(0,0);">
        TOP
      </button>
    </aside>
    <footer th:replace="~{fragments/memberFooter::memberFooter}"></footer>
  </body>
</html>
