/* 메인 css 시작 */

.HanMainBody {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.HanMainNewDiv {
  padding: 20px 0;
  width: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* background-color: antiquewhite; */

}

.HanMainNewDivCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 510px;

}

.HanMainNewDivCardImg {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.HanMainNewDivCardImg img {
  max-width: 400px;
  max-height: 400px;

}

.HanMainNewDivCardPDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 10px;

}


.HanMainNewDivCardPDivName {
  margin: 5px 0;
  font-size: 25px;
}

.HanMainNewDivCardPDivPrice {
  margin: 0;
  font-size: 20px;
}

/* 메인 css 끝 */



/* 푸터 css 시작 */

.HanFooterBody {

  background-color: #ffffeb;
  padding: 20px 200px;
  font-size: 12px;
  color: #727271;
}

.THlinks {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.THlinks a {
  text-decoration: none;
  color: #666;
  position: relative;
  padding: 0 10px;
}

.THlinks a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ddd;
}

.THlinks a:first-child::before {
  display: none;
}

.THlinks a:hover {
  text-decoration: underline;
}

.THinfo {
  padding-left: 7px;
}

.THinfo p {
  margin: 3px;
}

.THinfo a {
  text-decoration: none;
  color: #666;
  position: relative;

}

.THinfo a:hover {
  text-decoration: underline;
}

.THfooterLogo {
  background: url(/images/logo1.png) no-repeat center center;
  background-size: 100%;
  width: 125px;
  height: 125px;
}

.THfooterDiv1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

}

.THinfo strong {
  font-weight: bold;
}

.THcustomer-center {
  margin-top: 20px;
}

.THcustomer-center span {
  display: block;
}

.THdisclaimer {
  margin-top: 20px;
  font-size: 11px;
  color: #999;
}

.HanFooterGit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.HanFooterGit img {

  width: 18px;
  height: 18px;
}