ody {
  margin: 0;
  padding: 0;

}

/* 헤더 css 시작 */

.HanHeaderBody {
  width: auto;
  background-color: #fff8f8;
  /* background-color: #fffab6; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HanHeaderBody p {
  display: inline-block;
}

.HanMainTitleP {
  font-size: 25px;
  margin: 50px 0;

}

.HanHeaderTop {
  padding-top: 5px;
  width: 70%;
  min-width: 600px;
  display: flex;
  justify-content: space-between;

}

.HanHeaderLogo {
  display: flex;
  align-items: center;
  width: 300px;
}

.HanHeaderLogoP {
  margin: 0;
  font-size: 13px;
}

.HanHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.HanHeaderButton a {
  padding: 5px 8px;
  text-decoration-line: none;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px solid #ccc;
}

/* .HanHeaderButton .HanHeaderButtonA:hover{


} */




.HanHeaderBottom {
  height: 60px;
  width: 70%;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.HanHeaderBottomLeft {
  display: flex;
  align-items: center;

}


.HanHeaderBottomP {
  font-size: 16px;
  margin: 6px 0;
  padding-left: 10px;
  color: #503737;

}

.HanHeaderHr {
  margin: 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid #e9d2d2;
  /* border-bottom: 1px solid #eee676;
  border-bottom: 1px solid #ccc; */
}

.HanHeaderHr2 {
  margin: 0;

  border: none;
  width: 100%;
  border-bottom: 1px solid #e6dddd;

}




.HanLoginForm {
  position: relative;
}


.HanLoginForm input {
  box-sizing: border-box;
  width: 240px;
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-radius: 12px;
}

.HanLoginForm input:focus {
  outline: none;
}

.HanLoginForm img {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 10;

}

/* 헤더 css 끝 */

/* 네비 css 시작 */

.HanNaviMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.HanNaviLogoDiv {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFD2E3;
}

.HanNaviLogoDiv p {
  display: inline-block;
  font-size: 55px;
  margin: 20px;

}

.HanNaviBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;

}

.HanNaviBar a {
  text-decoration-line: none;
  color: #000000;
  transition: all 0.5s;
  font-size: 16px;
  cursor: pointer;
  margin: 15px 0;

}

.HanNaviBarImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.HanNaviBarImage img {
  max-width: 1600px;
  height: 400px;
}


/* 네비 css끝 */



/* 로그인 상태 헤더 css */

.Handropdown {
  position: relative;
  display: inline-block;
}

.HandropdownBox {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  border-radius: 5px;
  z-index: 1000;
}

.HanHeaderButtonA {
  position: relative;

}

.HandropdownBox a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.HandropdownBox a:hover {
  background-color: #f0f0f0;
}

.HanDrodBoxName {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 29px;
  right: -2px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 10px 10px;
  border-radius: 5px;
  z-index: 1000;
}

.HanDrodBoxNameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.HanDrodBoxNameBox img {
  width: 52px;
  height: 52px;

}

.HanDrodBoxNameDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.HanHeaderUserName {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
}

.HanHeaderUserId {
  margin: 0;
  font-size: 13px;

}

.HanDrodBoxName a {
  padding: 2px 6px;
  background-color: #FFADAD;
  border-radius: 5px;

}

.HanDrodBoxName a:hover {
  background-color: #ee8686;

}


.HanHeadershow {
  display: block;
}