body {
  margin: 0;
  padding: 0;

}

/* 헤더 css 시작 */
.searchBtn{
border:none;
background:none;
    i:hover{
    color:gray;
    }
}

.HanHeaderBody {
  width: 100%;
  background-color: #fff8f8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HanHeaderBody p {
  display: inline-block;
}

.HanMainTitleP {
  font-size: 25px;
  margin: 50px 0;

}

.HanHeaderTop {
  padding-top: 5px;
  width: 70%;
  display: flex;
  justify-content: space-between;

}

.HanHeaderLogo {
  display: flex;
  align-items: center;
  width: 300px;
}

.HanHeaderLogoP {
  margin: 0;
  font-size: 13px;
}

.HanHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.HanHeaderButton a {
  padding: 5px 8px;
  text-decoration-line: none;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.HanHeaderButton a:Hover {
  color: #000000;
  background-color: #fff9a9;
}

.HanHeaderBottom {
  height: 60px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.HanHeaderBottomP {
  font-size: 15px;
  margin: 6px 0;

}

.HanHeaderHr {
  margin-bottom: 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid #e6dddd;

}




.HanLoginForm {
  position: relative;
}


.HanLoginForm input {
  box-sizing: border-box;
  width: 240px;
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-radius: 12px;
}

.HanLoginForm input:focus {
  outline: none;
}

.HanLoginForm img {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 10;

}

/* 헤더 css 끝 */

/* 네비 css 시작 */

.HanNaviMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.HanNaviLogoDiv p {
  display: inline-block;
  font-size: 55px;
  margin: 20px;

}

.HanNaviBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;

}

.HanNaviBar a {
  text-decoration-line: none;
  color: #000000;
  transition: all 0.5s;
  font-size: 16px;
  cursor: pointer;
  margin: 15px 0;

}

.HanNaviBarImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.HanNaviBarImage img {
  max-width: 1600px;
  height: 400px;
}

/* 네비 css끝 */
