.HanFooterBody {
  /* background-color: #ffffeb; */
  /* background-color: #ffecf3; */
  background-color: #fdfdfd;
  background-color: white;
  border-top: 1px solid #e9e9e9;
  padding: 30px 200px;
  font-size: 12px;
  color: #241a1e;
}

.THlinks {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.THlinks a {
  text-decoration: none;
  color: #241a1e;
  position: relative;
  padding: 0 10px;
}

.THlinks a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ddd;
}

.THlinks a:first-child::before {
  display: none;
}

.THlinks a:hover {
  text-decoration: underline;
}

.THinfo {
  padding-left: 7px;
}

.THinfo p {
  margin: 3px;
}

.THinfo a {
  text-decoration: none;
  color: #666;
  position: relative;

}

.THinfo a:hover {
  text-decoration: underline;
}

.THfooterLogo {
  background: url(/images/logo1.png) no-repeat center center;
  background-size: 100%;
  width: 125px;
  height: 125px;
}

.THfooterDiv1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

}

.THinfo strong {
  font-weight: bold;
}

.THcustomer-center {
  margin-top: 20px;
}

.THcustomer-center span {
  display: block;
}

.THdisclaimer {
  margin-top: 20px;
  font-size: 11px;
  color: #999;
}

.HanFooterGit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.HanFooterGit img {

  width: 18px;
  height: 18px;
}
