<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body class="text-center">
<div th:if="${param.error}" class="alert alert-secondary">
    <p>아이디나 비밀번호가 잘못되었습니다.</p>
</div>
<main class="form-signin d-flex justify-content-center">
    <div>

        <form th:action="@{/login}" th:method="post">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Id" name="userId">
                <label for="floatingInput">Id</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                       name="userPassword">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

        </form>
        <a href="/oauth2/authorization/google" class="btn btn-outline-primary mt-5 w-100">구글 로그인</a>
        <a href="/oauth2/authorization/naver" class="btn btn-outline-success mt-1 w-100">네이버 로그인</a>
        <p class="mt-5 mb-3 text-muted">© 2025</p>
    </div>

</main>
</body>
</html>