<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>☁️CloudStar WorkShop 회원주문</title>

    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/checkout/checkoutList.css}">

</head>

<body>

    <!--헤더 네비-->

    <header th:replace="/fragments/memberHeader::memberHeader"></header>


    <!-- 메인 시작 -->

    <div class="HanCkListBody">

        <!--메뉴바 시작-->

        <div th:replace="/fragments/menuBar::menuBar"></div>

        <!--메뉴바 끝-->

        <div class="HanCkListMain">

            <div class="HanCkListTop">

                <p>주문내역</p>

            </div>

            <div th:if="${#lists.size(checkoutList)<1} " class="HanCkListTop none">

                <p>주문 내역 없음</p>

            </div>

            <ul>
                <!-- 카트 아이템 시작 -->

                <li th:if="${checkoutList!=null} " th:each="checkout : ${checkoutList}">

                    <div class="HanCkListOrderNum">
                        <div class="HanCkListOrderNumCnt">

                            <span class="HanCkListBold">총</span>
                            <span th:text="${checkout.checkoutSize}"></span>
                            <span>건</span>

                        </div>
                        <div class="HanCkListDelivery">
                            <p th:if="${checkout.checkoutStep !='주문완료'}" th:text="${checkout.checkoutStep}"></p>
                            <p th:if="${checkout.checkoutStep =='주문완료'}" th:text="${checkout.checkoutPostStep}"></p>

                        </div>

                        <div class="HanCkListOrderNumTextDiv">

                            <p>주문번호 : </p>
                            <a th:href="@{'/member/checkout/details/'+${checkout.id}}"
                                th:text="${checkout.checkoutCode}"></a>

                        </div>

                    </div>

                    <!-- 카트 아이템 항목 시작 -->
                    <div>
                        <div class="HanCkListInfoDiv" th:each="product : ${checkout.productList}">

                            <div class="HanCkListInfo">

                                <div class="HanCkListImgDiv">

                                    <a th:href="@{'/product/details/'+${product.id}}"><img
                                            th:src="@{${product.mainImagePath}}" alt=""></a>

                                </div>

                                <div class="HanCkListProductName">

                                    <p class="HanCkListProductDate">[[${checkout.createdAt}]] 결제</p>

                                    <div class="HanCkListProductNameDiv">

                                        <p class="HanCkListProductNameP" th:text="${product.name}"></p>
                                        <p class="HanCkListProductPriceP" th:text="${product.totalPrice}"></p>
                                    </div>

                                </div>
                                <div class="reorder">
                                    <a th:href="@{'/product/details/'+${product.id}}">재구매</a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- 카트 아이템 항목 끝 -->

                    <div class="HanCkSubmitA">

                        <p class="HanCheckoutList" >총 결제 가격: [[${checkout.checkoutTotalPay}]]</p>
                        <a class="HanHome"  th:href="@{'/member/checkout/details/'+${checkout.id}}">상세보기</a>

                    </div>

                </li>

            </ul>

        </div>


    </div>

    </div>


    <!-- 메인 끝 -->


    <!-- 푸터 시작 -->

    <footer th:replace="/fragments/memberFooter::memberFooter"></footer>

    <!-- 푸터 끝 -->

<script th:src="@{/js/member/alert.js}"></script>
</body>

</html>