/* 모달 창 css */


/* 모달 배경 */
.HanAddressPopMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  /* 가로 중앙 정렬 */
  align-items: flex-start;
  /* 세로 정렬 시작 지점 */
  z-index: 1000;
  /* 모달이 다른 요소 위에 표시되도록 설정 */
  overflow: hidden;
}

/* 모달 컨텐츠 */
.HanAddressPopContainer {

  /* 세로로 조금 위쪽으로 띄움 */
  margin-top: 20px;

  padding: 5px 30px;
  background-color: white;
  gap: 20px;
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* 화면 크기에 따른 최대 너비 */
  max-width: 90%;

    max-height: 90%;

    overflow-y: auto;

    overflow-x: hidden;




  animation: fadeIn 0.3s ease;
  /* 모달 등장 애니메이션 */

}

/* 모달 등장 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* 위에서 살짝 내려오는 효과 */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}






/* 모달창 카드 리스트 css */


/* 모달 컨텐츠 */
.HanCardPopContainer {
  margin-top: 20px;
  /* 세로로 조금 위쪽으로 띄움 */
  background-color: white;
  gap: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 그림자 */
  width: 740px;
  /* 너비 고정 */
  max-width: 90%;
  /* 화면 크기에 따른 최대 너비 */
  animation: fadeIn 0.3s ease;
  /* 모달 등장 애니메이션 */
}



.HanCardMain {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  height: auto;
  gap: 20px;
  border-radius: 7px;
  background-color: white;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

}

.HanCardLogoDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HanCardLogoMain {
  padding: 0;
  padding-bottom: 10px;
}

.HanCardLogoMain h1 {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: -30px;
}

.HanCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


}

.HanCard {
  background-color: white;
  display: flex;
  justify-content: center;
}



.HanCardTextDiv {
  padding-left: 20px;
  width: 400px;
  height: auto;

}

.HanCardTextP1 {
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
  font-weight: bolder;
  color: #4a4949;
}

.HanCardTextP2 {
  margin: 0;
  padding-left: 3px;
  font-size: 20px;
}


.HanCardTextTagDiv {
  margin-top: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;

}

.HanCardTextTagDiv img {
  position: absolute;
  top: 17px;
  right: 18px;

  width: 20px;
  height: 20px;

}


.HanDeliveryCardTextTagDiv p {
  display: inline-block;


}

.HanCardTextTag {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.HanAddressPopCardTextDiv4 {
  margin-top: -1px;
}

.HanAddressPopCardTextDiv4 p {
  display: inline-block;
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  color: #494949;
}


.HanCardTextDiv2 {
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}


.HanCardButton {
  width: 650px;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.HanCardButton button {
  width: 650px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanCardButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanCardButton .HanSubmit {
  background-color: #dddddd;
  color: #333;
}

.HanCardButton .HanNew:hover {
  background-color: #fdef6f;
  color: #535353;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanCardButton .HanSubmit:hover {
  background-color: #c9c9c9;
  color: #333;
  box-shadow: 0 3px 6px #cacaca1a;
}

.HanCardButton .HanClose {
  background-color: #ff8e8e;
  color: #3f3f3f;
}

.HanCardButton .HanClose:hover {
  background-color: #f06767;
  color: #3f3f3f;
  box-shadow: 0 3px 6px #cacaca1a;
}


.HanNewButton {
  position: relative;
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.HanNewButton img {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 262px;
  top: 18px;

}


.HanNewButton button {
  width: 650px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border: 0px solid #fff59a;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanNewButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanNewButton .HanNew:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





/* 라디오 버튼 커스텀 */


.HanCardRadio {
  position: relative;
}

.HanCardRadio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  box-sizing: border-box;
  padding: 15px 30px;
  width: 650px;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


/* 기본스타일 제거, 버튼 모양 재설정 */
.HanCardRadio input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 75px;
  top: 33px;
  background: url(/images/starOff.svg) no-repeat center center;
  width: 40px;
  height: 40px;
}

/* 체크 시 버튼 모양 스타일 */
.HanCardRadio input[type='radio']:checked {

  background: url(/images/starOn.svg) no-repeat center center;
}


.HanCardRadio label:hover {
  box-shadow: 0px 4px 6px #f3f3f3;

}

.HanCardRadio input[type='radio']:checked+label {
  border: 1px solid #fff175;
  box-shadow: 0px 0px 0px 2px #fff175;

}








/* 결제 카드 등록 모달 css 시작*/




/* 모달 컨텐츠 */
.HanCardNewPopContainer {
  margin-top: 30px;
  /* 세로로 조금 위쪽으로 띄움 */
  background-color: white;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 그림자 */
  width: 630px;
  /* 너비 고정 */
  max-width: 90%;
  /* 화면 크기에 따른 최대 너비 */
  animation: fadeIn 0.3s ease;
  /* 모달 등장 애니메이션 */
}




.HanCardNewBody {
  border-radius: 5px;
  width: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 20px;
  background-color: white;

}


.HanCardNewDiv {
  width: 500px;

}


.HanCardNewDiv ul {
  margin: 0;
  margin-top: 25px;
  list-style-type: none;
  padding: 0;

}

.HanCardNewDiv ul li {
  position: relative;
  font-size: 17px;
  margin-bottom: 20px;
}


.HanCardNewDiv label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.HanCardNewDiv input {
  box-sizing: border-box;
  width: 500px;
  height: 43px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
}



.HanSignUpIdDiv button {
  padding: 10px 15px;
  border: 0px;
  border-radius: 3px;
  background-color: #e9e9e9;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 15px;
  cursor: pointer;

}



.HanSignUpIdDiv button:hover {

  background-color: #dddddd;
  color: black;

}

.HanSignUpIdDiv.HanRedButton button {
  border: 1px solid #fc4545;
  box-shadow: 0 0 0 1px #fc4545;
  color: #fc4545;
  background-color: white;


}


.HanCardNewDiv h1 {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  margin: 8px 0;


}


.HanCardNewLogoDiv {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}


.HanRed input {
  border: 1px solid #fc4545;
  box-shadow: 0 0 0 1px #fc4545;

}

.HanRed p {
  margin: 3px 0;
  color: #fc4545;
  font-size: 12px;

}

.hanNone .HanSignUpInfo {
  display: none;
}

#HanSignUpOk {
  margin: 3px 0;
  font-size: 12px;
  color: #0fa824;
}


#HanSignUpFail,
#HanSignUpPwFail1,
#HanSignUpPwFail2,
#HanSignUpCheckNotRun {
  margin: 3px 0;
  font-size: 12px;
  color: #fc4545;

}



/* 회원가입 버튼 */
.HanCardNewButton {
  margin-top: 45px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.HanCardNewButton button {
  width: 300px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}

.HanCardNewButton .HanCancel {
  background-color: #e7e7e7;
  color: #333;
}

.HanCardNewButton .HanSubmit {
  background-color: #fff6a6;
  color: #363636;
}

.HanCardNewButton .HanCancel:hover {
  background-color: #c9c9c9;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanCardNewButton .HanSubmit:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.HanMemberEditP1Div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.HanMemberEditP1Div p {
  margin: 0;
  color: #8a8a8a;
  font-size: 16px;
}

.HanMemberEditP1Div a {
  padding: 8px 18px;
  border-radius: 3px;
  text-decoration-line: none;
  background-color: #e9e9e9;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 15px;
  cursor: pointer;
}

.HanMemberEditP1Div a:hover {

  background-color: #dddddd;
  color: black;

}





/* signUpSubmitPopUp머스타치 css  */

.HanSubmitDiv {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.HanSubmitDiv img {
  padding-top: 200px;
  width: 300px;
  height: 300px;

}

.HanSubmitDiv p {
  font-size: 22px;
}



.HanCardCheckDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HanCardCheckDiv p {
  margin: 0;
  display: inline-block;
  font-size: 17px;
  padding-left: 10px;
  padding-bottom: 4px;
}

.HanCardCheckDiv input {
  display: none;
  margin: 0;
}

.HanCardCheckDiv label {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding-left: 3px;

}


.HanCardCheckDiv input+label {
  background: url(/images/checkmark_off.svg) no-repeat center center;
  background-size: cover;
}

.HanCardCheckDiv input:checked+label {
  background: url(/images/checkmark_on.svg) no-repeat center center;
  background-size: cover;
}





.HanCheckboxLi {
  margin-top: -5px;
}

.HanCard {
  display: flex;
  justify-content: space-between;

}

.HanCard input {
  width: 24%;

}

.HanCardDateCvc {
  display: flex;
  justify-content: space-between;

}

.HanCardDateCvc label {
  display: inline-block;
}

.HanCardDate,
.HanCVC {
  display: flex;
  justify-content: flex-start;
  gap: 6px;

}

.HanCardDate input {

  width: 120px;
}



.HanCVC input {
  width: 246px;

}

/* 결제 카드 등록 모달 css 끝*/


.HanSignUpLogoDiv {
  padding-top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HanSignUpDiv {
  padding: 0;
  padding-bottom: 18px;
}


.HanAddressPopContainer h1 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
    margin-top:0;


}


.HanAddressPopTitle {

  font-size: 35px;
  margin-bottom: 20px;
}


.HanAddressPopCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


}


.HanAddressPopCard {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
}

.HanAddressPopRadio {
  box-sizing: border-box;
  padding: 15px 10px;
  padding-left: 68px;
  width: 600px;
  display: grid;
   grid-template-rows: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}








/* 라디오 버튼 커스텀 */


/* .HanCardRadio label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  box-sizing: border-box;
  padding: 15px 30px;
  width: 650px;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
} */


/* 기본스타일 제거, 버튼 모양 재설정 */
.HanAddressPopCard input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50px;
  background: url(/images/starOff.svg) no-repeat center center;
  width: 30px;
  height: 30px;
}

/* 체크 시 버튼 모양 스타일 */
.HanAddressPopCard input[type='radio']:checked {

  background: url(/images/starOn.svg) no-repeat center center;
}


.HanAddressPopCard label:hover {
  box-shadow: 0px 4px 6px #f3f3f3;

}

.HanAddressPopCard input[type='radio']:checked+label {
  border: 1px solid #fff175;
  box-shadow: 0px 0px 0px 2px #fff175;

}






.HanAddressPopCardList {
  width: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}


.HanAddressPopCardTextDiv {
  width: 400px;


}

.HanAddressPopCardTextP1 {
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
  font-weight: bolder;
  color: #4a4949;
}

.HanAddressPopCardTextP2 {
  margin: 0;
   line-height: 30px;
  font-size: 19px;
}

.HanAddressPopCardTextP3 {
  margin: 0;
  margin-bottom: -4px;
  font-size: 19px;
}


.HanAddressPopCardTextTagDiv {
  margin-top: 2px;
  display: flex;
  align-items: center;

}

.HanAddressPopCardTextTagDiv img {
  position: absolute;
  top: 17px;
  right: 18px;

  width: 25px;
  height: 25px;

}


.HanAddressPopCardTextTagDiv p {
  display: inline-block;


}

.HanAddressPopCardTextTag {
  margin: 0;
  font-size: 23px;

}

.HanAddressPopCardTextDiv3 {
  margin-top: 5px;
}

.HanAddressPopCardTextDiv3 p {
  display: inline-block;
  margin: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #494949;
}





.HanAddressPopCardTextDiv2 {
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


.HanAddressPopListButton {
  width: 600px;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.HanAddressPopListButton button {
  width: 650px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanAddressPopListButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanAddressPopListButton .HanSubmit {
  background-color: #dddddd;
  color: #333;
}

.HanAddressPopListButton .HanNew:hover {
  background-color: #fdef6f;
  color: #535353;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanAddressPopListButton .HanSubmit:hover {
  background-color: #c9c9c9;
  color: #333;
  box-shadow: 0 3px 6px #cacaca1a;
}

.HanAddressPopListButton .HanClose {
  background-color: #ff8e8e;
  color: #3f3f3f;
}

.HanAddressPopListButton .HanClose:hover {
  background-color: #f06767;
  color: #3f3f3f;
  box-shadow: 0 3px 6px #cacaca1a;
}


.HanAddressPopNewButton {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.HanAddressPopNewButton img {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 207px;
  top: 18px;

}


.HanAddressPopNewButton button {
  width: 600px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanAddressPopNewButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanAddressPopNewButton .HanNew:hover {
  background-color: #fdef6f;
  color: #535353;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/* 배송지 작성 모달창 css 시작 */

.HanAddressNewPopContainer {

  /* 세로로 조금 위쪽으로 띄움 */
  margin-top: 12px;
  padding: 0px 30px;
  background-color: white;
  gap: 20px;
  padding-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 그림자 */


  max-width: 90%;
  /* 화면 크기에 따른 최대 너비 */
  /* 화면 크기에 따른 최대 높이 */
  max-height: 90%;
  /* 내용이 넘칠 경우 스크롤 표시 */
  overflow-y: auto;

  overflow-x: hidden;

  animation: fadeIn 0.3s ease;
  /* 모달 등장 애니메이션 */
}




.HanSignUpBody {
  border-radius: 5px;
  width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: white;

}


.HanSignUpDiv {
  width: 500px;

}


.HanSignUpDiv ul {
  margin: 0;
  list-style-type: none;
  padding: 0;

}

.HanSignUpDiv ul li {
  position: relative;
  font-size: 17px;
  margin-bottom: 15px;
}


.HanSignUpDiv label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.HanSignUpDiv input {
  box-sizing: border-box;
  width: 500px;
  height: 43px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.HanSignUpIdDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.HanSignUpIdDiv button {
  padding: 10px 15px;
  border: 0px;
  border-radius: 3px;
  background-color: #e9e9e9;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 15px;
  cursor: pointer;

}



.HanSignUpIdDiv button:hover {

  background-color: #dddddd;
  color: black;

}

.HanSignUpIdDiv.HanRedButton button {
  border: 1px solid #fc4545;
  box-shadow: 0 0 0 1px #fc4545;
  color: #fc4545;
  background-color: white;


}

.HanDeliveryPopNewLogoDiv {
  margin-top: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.HanSignUpDiv h1 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  margin-top: -40px;


}


.HanSignUpLogoDiv {
  padding-top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.HanRed input {
  border: 1px solid #fc4545;
  box-shadow: 0 0 0 1px #fc4545;

}

.HanRed p {
  margin: 3px 0;
  color: #fc4545;
  font-size: 12px;

}

.hanNone .HanSignUpInfo {
  display: none;
}

#HanSignUpOk {
  margin: 3px 0;
  font-size: 12px;
  color: #0fa824;
}


#HanSignUpFail,
#HanSignUpPwFail1,
#HanSignUpPwFail2,
#HanSignUpCheckNotRun {
  margin: 3px 0;
  font-size: 12px;
  color: #fc4545;

}



/* 회원가입 버튼 */
.HanSignUpButton {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.HanSignUpButton button {
  width: 300px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s ease;
}

.HanSignUpButton .HanCancel {
  background-color: #e7e7e7;
  color: #333;
}

.HanSignUpButton .HanSubmit {
  background-color: #fff6a6;
  color: #2b2b2b;
}

.HanSignUpButton .HanCancel:hover {
  background-color: #c9c9c9;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanSignUpButton .HanSubmit:hover {
  background-color: #fdef6f;
  color: #5e5823;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.HanMemberEditP1Div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.HanMemberEditP1Div p {
  margin: 0;
  color: #8a8a8a;
  font-size: 16px;
}

.HanMemberEditP1Div a {
  padding: 8px 18px;
  border-radius: 3px;
  text-decoration-line: none;
  background-color: #e9e9e9;
  color: #3a3a3a;
  transition: all 0.5s;
  font-size: 15px;
  cursor: pointer;
}

.HanMemberEditP1Div a:hover {

  background-color: #dddddd;
  color: black;

}





/* signUpSubmitPopUp머스타치 css  */

.HanSubmitDiv {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.HanSubmitDiv img {
  padding-top: 200px;
  width: 300px;
  height: 300px;

}

.HanSubmitDiv p {
  font-size: 22px;
}

.HanAddressPopNewIcon {
  position: absolute;
  background: url(/images/search.svg) no-repeat center center;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.HanAddressPopNewIcon:hover {
  transform: translateY(-3px);

}

.HanMemberDeliveryCheckDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HanMemberDeliveryCheckDiv p {
  margin: 0;
  display: inline-block;
  font-size: 17px;
  padding-left: 10px;
  padding-bottom: 4px;
}

.HanMemberDeliveryCheckDiv input {
  display: none;
  margin: 0;
}

.HanMemberDeliveryCheckDiv label {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding-left: 3px;

}


.HanMemberDeliveryCheckDiv input+label {
  background: url(/images/checkmark_off.svg) no-repeat center center;
  background-size: cover;
}

.HanMemberDeliveryCheckDiv input:checked+label {
  background: url(/images/checkmark_on.svg) no-repeat center center;
  background-size: cover;
}

.HanCheckboxLi {
  margin-top: -5px;
}

/* 배송지 작성 모달창 css 끝 */






/* 메인페이지 css */

.orderButton {
  background-color: #8FE3D9;
  color: white;
  width: 420px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;

}

.orderButton:hover {
  background-color: #88e0d6;
  box-shadow: 1px 0px 3px 3px #fdfdfd;
  color: #0c3f39 !important;

}

.orderButton:active {
  background-color: #acf0e8;
  color: #ebebeb;
}

.arrowIcon {
  background: url(images/arrowicon.svg) no-repeat center center;
  width: 500px;
  height: 500px;
  color: #b6b6b6
}

.HanOrderMainBody {
  background-color: #f1f0f1;
  height: auto;
}

.HanOrderMain {
  width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 200px;



}

.HanOrderAddressCard {
  box-sizing: border-box;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 800px;
  height: 220px;

}

.HanOrderAddressCard2 {
  box-sizing: border-box;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 800px;
  height: 220px;

}






.HanOrderCardTextDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 550px;
  height: 150px;
  text-align: left;
  gap: 8px;

}

.HanOrderCardTextDiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 150px;
  text-align: left;
  gap: 20px;

}

.HanOrderCardTextDiv4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.HanOrderCardTextP4 {
  font-size: 35px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 3px;
}

.HanOrderAddressName {
  margin: 0;
  margin-left: -4px;
  font-size: 38px;
}

.HanOrderAddressTextValueDiv {

  width: 550px;
  height: 20px;
}


.HanOrderPhoneP {
  margin: 0;
  margin-bottom: -3px;
  font-size: 20px;
  color: #5e5e5e;

}

.HanOrderAddressP {
  margin: 0;
  font-size: 22px;
}

.HanOrderAddressNum {
  margin: 0;
  color: #000000;
  font-size: 22px;
  padding-right: 20px;

}

.HanOrderCntProductTitle {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  gap: 10px;

}

.HanOrderCntProductP {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin: 0;


}

.HanMemoHr1 {
  border: 0;
  border-top: 1px solid #ccc;
  width: 700px;
  margin: 0;
  margin-top: 15px;
}

.selectedAddressMemoDiv {
  width: 800px;
}

.selectedAddressMemoDiv p {
  display: inline-block;
  font-size: 18px;
  margin: 0px 2px;
}


.HanOrderCntP {
  margin-top: 0;
  margin-left: -2px;
  font-size: 22px;
  font-weight: bolder;
  color: black;

}

.HanOrderCntSpan1 {
  margin-right: 5px;
  font-weight: bolder;
  font-size: 22px;
}

.HanOrderTitleDiv {
  padding-left: 50px;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.HanOrderTitleDiv img {
  margin-bottom: 5px;
}

.HanOrderTitleDeliveryDiv {
  display: flex;
  align-items: center;
  gap: 10px;

}

.HanOrderTitleDeliveryDiv img {
  margin-bottom: 5px;
}

.HanOrderListCard {
  box-sizing: border-box;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 800px;
  height: auto;
  margin-bottom: 20px;
}


.HanOrderListCardImgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  padding-right: 33px;
}

.HanOrderListCardImgDiv img {
  max-width: 90px;
  max-height: 90px;
}

.HanOrderListCardTextDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 550px;
  height: auto;
  text-align: left;
  gap: 4px;

}

.HanOrderListCardTextDiv2 {
  align-items: flex-start;
  justify-content: center;
  width: 550px;
  height: auto;
  text-align: left;
}

.HanOrderListCardSellerName {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
}


.HanOrderListCardPrdNameP {
  margin: 0;
  font-size: 25px;


}

.HanOrderPrdCntP {
  display: inline;
  margin: 0;
  font-size: 20px;
}

.HanOrderPrdCntSpan {
  margin: 0;
  font-size: 19px;
}

.HanOrderPrdSalePrice {
  margin: 0;
  display: inline;
  font-size: 20px;
  color: #A6A6A6;



}

.HanOrderPrdSalePriceWan {
  margin-top: -3px;
  margin: 0;
  display: inline;
  font-size: 18px;
  color: #A6A6A6;
  padding-right: 8px;
}

.HanOrderPrdPrice {
  margin: 0;
  display: inline;
  font-size: 30px;
}

.HanOrderPrdPriceWan {
  margin: 0;
  display: inline;
  font-size: 25px;
}




.HanOrderPrdPriceTextDiv {
  display: flex;
  justify-content: space-between;
  width: 550px;
  /* align-items: flex-end; */


}

.HanOrderCreditDiv {
  margin-top: -2px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 430px;
  height: 250px;
}

.HanOrderCreditDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: -2px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 430px;
  height: 250px;
}

.HanOrderCreditDiv2Title {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.HanOrderCreditDiv2 p {
  display: inline-block;
  font-size: 25px;
  margin: 0;
  margin-bottom: 2px;

}

.HanOrderRight {
  display: flex;
  flex-direction: column;

}

.HanOrderRightTitle {
  display: flex;
  align-items: center;
  gap: 10px;

}

.HanOrderRightTopPDiv {
  padding-top: 10px;
  margin: 0 auto;
  width: 1300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.HanOrderRightTopPDiv p {
  display: inline-block;
  color: #A6A6A6;
  font-size: 14px;
  margin: 14px 5px;

}

.HanOrderRightTopPDiv .Bold {
  font-weight: 600;
  font-size: 15px;
  color: black;
}


.HanOrderCreditDiv p {
  margin: 8px 0;
  margin-left: 18px;

}

.HanOrderCreditNameT,
.HanOrderCreditNumT {

  font-size: 16px;
  color: #888888;
}

.HanOrderCreditName,
.HanOrderCreditNum {
  font-size: 25px;
  color: #333333;
}

.HanOrderDetail {
  margin-top: 60px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  width: 430px;
  height: 220px;
}

.HanOrderTotalPrice {
  color: #2b2b2b;
  display: flex;
  justify-content: space-between;

}

.HanOrderTotalPrice p {
  margin: 7px;

}

.HanOrderDetailT {
  margin: 0;
  padding-left: 4px;
  font-size: 20px;

}

.HanOrderValue {
  display: inline-block;
  font-size: 16px;

}

.HanOrderValueP {
  display: inline-block;
  font-size: 13px;
  margin: 0;

}

.HanOrderValueP1 {
  display: inline-block;
  font-size: 16px;

}

.HanOrderValueDiv {
  display: flex;
  justify-content: center;
  height: 20px;



}

.HanOrderDetailSale {
  font-size: 16px;
}

.HanOrderDetailSalePlus {
  display: inline-block;
  font-size: 16px;

}

.HanOrderDetailSale1 {
  min-width:100px;
  display: inline-block;
  text-align: right;
  font-size: 16px;

}

.HanOrderDetailSale2 {
  display: inline-block;
  font-size: 13px;

}



.HanOrderHr1 {
  border: 0;
  border-top: 1px solid #ccc;
  width: 400px;

}

.HanOrderMargin1 {
  margin-top: 10px;
}

.HanOrderMargin1 p {
  display: inline-block;
}

.HanOrderMarginP1 {
  font-size: 13px;
}

/* .HanOrderPriceDiv{
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;

  padding: 10px 20px;

} */

.HanOrderPriceSumDiv {
  margin-top: 26px;
  width: 430px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}


.HanOrderPriceP {
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  padding-right: 3px;
  margin-bottom: -5px;
}

.HanOrderPriceWan {
  margin: 0;
  font-size: 28px;


}















/* 버튼 부분 */

/* 변경 버튼 */

/* 구매/장바구니 버튼 커스텀한것 */

.HanOrderChangeButtonContainer {
  margin-top: -110px;
}



.HanOrderChangeButtonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 17px;
  background-color: #fff6a6;
  color: #363636;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 93px;
  height: 50px;
  border: none;
}

.HanOrderChangeButtonContainer button:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* 새배송지 등록해주세요의 등록 버튼 */

.HanOrderNewButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HanOrderNewButtonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #fff6a6;
  color: #363636;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 85%;
  height: 60px;
  border: none;
}

.HanOrderNewButtonContainer button:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


/* 결제카드 등록 수정 버튼 */

.HanOrderButtonContainer {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin: 0;
  margin-top: 16px;
}

.HanOrderButtonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff6a6;
  color: #363636;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 160px;
  height: 50px;
  border: none;
}

.HanOrderButtonContainer button:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.HanOrderButtonContainer button:disabled:hover {

  background-color: #d3d3d3;
  /* 비활성화된 색 */
  color: #a9a9a9;
  /* 텍스트 색 변경 */
  cursor: not-allowed;
  /* 커서를 금지 표시로 변경 */
  box-shadow: none;
}




/* 결제하기 버튼 */
.HanOrderButtonContainer2 {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin: 0;
  margin-top: 26px;
}


.HanOrderButtonContainer2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff27d;
  color: #5e5823;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 430px;
  height: 60px;
  border: none;
}

.HanOrderButtonContainer2 button:hover {
  background-color: #fded58;
  color: #615050;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 새 결제 카드를 등록해 주세요의 버튼 */

.HanOrderButtonContainer3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HanOrderButtonContainer3 button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #fff6a6;
  color: #363636;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 90%;
  height: 50px;
  border: none;
}

.HanOrderButtonContainer3 button:hover {
  background-color: #fff27a;
  color: #585858;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}




/* 위로 스크롤해주는 버튼 */

#scrollToTopBtn {
  display: none;
  /* 기본적으로 숨김 */
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border: none;
  width: 90px;
  height: 90px;
  background: url(/images/upArrow1.svg) no-repeat center center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
  transform: translateY(-3px);

}





.HanCardNewDiv input.HanRed{
  border: 1px solid #fc4545;
  box-shadow: 0 0 0 1px #fc4545;

}

.HanRed p {
  margin: 3px 0;
  color: #fc4545;
  font-size: 12px;

}

.hanNone .HanSignUpInfo {
  display: none;
}

.HanSignUpInfo {
  margin: 3px 0;
  color: #fc4545;
  font-size: 12px;

}