.HanCkListBody {
  width: 100%;
  height: auto;
  background-color: #f1f0f1;
  display: flex;
}

.HanCkListMain {
  margin: 40px auto;
  width: 700px;
}

.HanCkListMain p {
  display: inline-block;
}

.HanCkListTop {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 30px;
}

.HanCkListTop p {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.HanCkListMain ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.HanCkListMain ul li {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 20px 40px;
  background-color: white;
  margin-bottom: 20px;
}

.HanCkListOrderNum {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.HanCkListOrderNum p {
  margin: 6px 0;
}

.HanCkListOrderNum a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.HanCkListOrderNumCnt {
  width: 100px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 550;
}

.HanCkListOrderNumTextDiv p {
  margin: 0;
  line-height: 30px;
}

.HanCkListInfoDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.HanCkListInfo {
  display: flex;
  align-items: center;
}

.HanCkListImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
}

.HanCkListImgDiv img {
  max-width: 130px;
  max-height: 130px;
}

.HanCkListProductName {
  padding-left: 40px;
  width:300px;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 340px;
}

.HanCkListProductDate {
  font-size: 15px;
  color: #939393;
  margin: 9px 0;
  margin-top: 0;
}

.HanCkListProductNameDiv {
  display: flex;
  flex-direction: column;
}

.HanCkListProductNameP {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top:0px;
}

.HanCkListProductPriceP {
  font-size: 18px;
  margin: 1px 0;
}

.HanCkListDelivery {
  margin-right: 5px;
  text-align: start;
  width: 200px;
  line-height: 30px;
}

.HanCkListDelivery p {
  color: blue;
  font-size: 18px;
  margin: 0 3px;
}

.HanCkSubmitA {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.HanCkSubmitA a,
.HanCheckoutList {
  box-sizing: border-box;
  padding: 15px 15px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  transition: all 0.3s ease;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.HanCkSubmitA .HanCheckoutList {
  width: 470px;
  background-color: #fff6a6;
  color: #363636;
}

.HanCkSubmitA .HanHome {
  background-color: #dddddd;
  color: #333;
}

.HanHome {
  width: 100px;
}

.HanCkSubmitA .HanHome:hover {
  background-color: #c9c9c9;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reorder {
  margin-left: 10px;

  a {
    display: block;
    text-decoration: none;
    color: #363636;
    background-color: #fff6a6;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;

    &:hover {
      background-color: #fff27a;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.none {
  height: 400px;
  line-height: 400px;
}

#topBtn {
        width: 90px;
  height: 90px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  display: none;
  /* 기본적으로 버튼 숨김 */
}


