
.container {
    background: #DFE7FD;
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 190px auto;
    height: 320px;
    box-shadow: 5px 5px 25px rgb(172, 172, 172);

    .foundId {
        padding-top: 30px;

        p {
            text-align: center;
            font-weight: 600;
            color: rgb(102, 102, 102);

        }
    }
}

.feedbackForm {
    input {
        display: block;
        width: 250px;
        height: 50px;
        margin: 20px auto;
        border-radius: 8px;
        border: none;
        background: white;
        color: black;
        padding: 0 0 0 15px;
        font-size: 14px;

    }

    input:focus {
        outline: none;
        box-shadow: 5px 5px 15px #CDDAFD;
    }
}


.submitBtn {
    background-color: #afc4ff;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 90px;
    color: white;
    font-size: 14px;
}

.submitBtn:hover {
    background-color: #95b1ff;
}