@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #f1f0f1;
}

* {
    font-family: 'NanumSquareRound';
}

.container {
    background: white;
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 190px auto;
    height: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .foundId {
        padding-top: 20px;

        p {
            text-align: center;
            font-weight: 600;
            color: rgb(102, 102, 102);

        }
    }
}

.feedbackForm {
    input {
        display: block;
        width: 340px;
        height: 50px;
        margin: 20px auto;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: white;
        color: black;
        padding: 0 0 0 15px;
        font-size: 14px;

    }

    input:focus {
        outline: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}


.submitBtn {
    background-color: #fff6a6;
    color: #363636;
    width: 358px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 47px;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: #fff27a;
    color: #585858;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}