.container {
    background: #DFE7FD;
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 190px auto;
    height: 320px;
    box-shadow: 5px 5px 25px rgb(172, 172, 172);

    .foundId {
        padding-top: 80px;

        p {
            text-align: center;
            color: rgb(102, 102, 102);

        }

        #foundId {
            color: blue;
            font-weight: 600;
        }
    }

    .link {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

#loginBtn,#pwBtn {
    font-size: 14px;
    border-radius: 7px;
    line-height: 40px;
        width: 130px;
        height: 40px;
        margin: 0px 10px 0px 10px;
      
    }

    #loginBtn{
        background-color: #afc4ff;
    }

    #loginBtn:hover{
        background-color: #94b0ff;

    }

    #pwBtn{
        background-color: #94b0ff;
    }

    #pwBtn:hover{
        background-color: #7599ff;;
    }

    a{
        text-decoration: none;
        color: white;
    }