@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareRound';
}

body {
    background-color: #f1f0f1;
    margin: 0;
}

.container {
    background: white;
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 190px auto;
    height: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.links {
    padding: 0;
    line-height: 80px;
    height: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {

        transition: .2s linear;

        &:nth-child(1) {
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }

        &:nth-child(3) {
            opacity: .6;
            float: right;

            &:hover {
                opacity: 1;
            }
        }

        a {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;
            text-decoration: none;
            color: #8a8a8a;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}


.findForm {
    width: 100%;
    max-width: 680px;
    margin: 10px auto 10px;

    .input__block {
        margin: 20px auto;
        display: block;
        position: relative;

        &.first-input__block {
            &::before {
                content: "";
                position: absolute;
                top: -15px;
                left: 50px;
                display: block;
                width: 0;
                height: 0;
                background: transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid rgba(#0f132a, .1);
                transition: .2s linear;
            }
        }

        input:focus {
            box-shadow: 5px 5px 15px #CDDAFD;
        }


        input {
            display: block;
            width: 80%;
            margin: 20px auto;
            max-width: 680px;
            height: 50px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: white;
            color: black;
            padding: 0 0 0 15px;
            font-size: 14px;

            &:focus,
            &:active {
                outline: none;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            &.repeat__password {
                opacity: 0;
                display: none;
                transition: .2s linear;
            }
        }
    }

    .btn {
        background-color: #fff6a6;
        color: #363636;
        display: block;
        width: 84%;
        max-width: 680px;
        height: 50px;
        border-radius: 4px;
        margin: 40px auto;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: .2s linear;

        &:hover {
            background-color: #fff27a;
            color: #585858;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }

}

.title {
    display: flex;
    flex-direction: column;
    height: 50px;
}


.feedbackForm {
    position: relative;

    input {
        display: block;
        width: 350px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: white;
        color: black;
        padding: 0 0 0 15px;
        font-size: 14px;

    }

    input:focus {
        outline: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}


.submitBtn {
    background-color: #fff6a6;
    color: #363636;
    width: 371px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin-left: 36px;
    font-size: 16px;
    margin-top: 20px;
}

.submitBtn:hover {
    background-color: #fff27a;
    color: #585858;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.foundPassword {
    padding-top: 10px;
}

#al{
    text-align: center;
        font-weight: 600;
        color: rgb(102, 102, 102);
}

.pass {
    margin: 5px auto;
}

.passCheck {
    margin: 20px auto 5px auto;
}


#error {
    height: 20px;
    margin: 13px auto 0px 47px;
}

#passwordError {
    text-align: left;
    font-size: 12px;
    color: red;
    margin: 0;
    display: none;
}

#icon {
    margin: 10px auto;
    width: 360px;
    display: flex;
    justify-content: space-between;
    color: #8a8a8a;
}


#hiddenPasswordArea{
    display: none;
    border: 1px #ccc solid;
    position: absolute;
    right: 440px;
    background-color: white;
    z-index: 10;
    width: 200px;
    padding: 20px;
    p{
        text-align: start;
    }
}