@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareRound';
}

body {
    background-color: #f1f0f1;
    margin:0;
}

.container {
    background-color: white;
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 190px auto;
    height: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    .links {
        margin-bottom: 0;
        line-height: 80px;
        height: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;

        li {

            transition: .2s linear;

            &:nth-child(2) {
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
            }

            &:nth-child(3) {
                opacity: .6;
                float: right;

                &:hover {
                    opacity: 1;
                }
            }



            a {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 20px;
                text-decoration: none;
                color: #8a8a8a;
                font-weight: bolder;
                text-align: center;
                cursor: pointer;
            }
        }
    }


    .findForm {
        width: 100%;
        max-width: 680px;
        margin: 10px auto 10px;

        .input__block {
            margin: 20px auto;
            display: block;
            position: relative;

        }

        input:focus {
            box-shadow: 5px 5px 15px #CDDAFD;
        }

        input {
            border: 1px solid #ccc;
            display: block;
            width: 90%;
            max-width: 680px;
            height: 50px;
            margin: 0 auto;
            border-radius: 4px;
            background: white;
            color: black;
            padding: 0 0 0 15px;
            font-size: 14px;

            &:focus,
            &:active {
                outline: none;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }


        }
    }

    .btn {
        background-color: #fff6a6;
        color: #363636;
        display: block;
        width: 92.5%;
        max-width: 680px;
        height: 50px;
        border-radius: 4px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: .2s linear;

        &:hover {
            background-color: #fff27a;
            color: #585858;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}




.title {
    display: flex;
    flex-direction: column;
    height: 50px;
}

/* 아이디 찾기 완료 */

.foundId {
    padding-top: 80px;

    p {
        text-align: center;
        color: rgb(102, 102, 102);

    }

    #foundId {
        color: blue;
        font-weight: 600;
        margin-top: 33px;
    }
}

.link {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#loginBtn,
#pwBtn {
font-size: 16px;
border-radius: 4px;
line-height: 40px;
width: 130px;
height: 40px;
margin: 0px 10px 0px 10px;

}

#loginBtn {
background-color: #fff6a6;
color: #363636;
}

#loginBtn:hover {
background-color: #fff27a;
color: #585858;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#pwBtn {
background-color: #e7e7e7;
a{ color:#363636;}
}


#pwBtn:hover {
background-color: #c9c9c9;
color: #333;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
text-decoration: none;
}