@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareRound';
}

body {
    background-color: #f1f0f1;
    margin: 0;
}

.joinForm {
    input:focus {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        outline: none;
    }
}

.container {
    display: block;
    width: 450px;
    border-radius: 7px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #8a8a8a;
    font-size: 30px;
    text-align: center;
    transition: .2s linear;
}

.links {
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 20px 0 0;
        transition: .2s linear;

        &:nth-child(1) {
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }

        &:nth-child(3) {
            opacity: .6;
            float: right;

            &:hover {
                opacity: 1;
            }
        }

        a {
            text-decoration: none;
            color: #8a8a8a;
            font-weight: bolder;
            text-align: center;
            cursor: pointer;
        }
    }
}

.joinForm {
    width: 100%;
    max-width: 680px;
    padding: 10px;

    input {
        display: block;
        width: 370px;
        height: 50px;
        margin: 10px 19px 25px 23px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: white;
        color: black;
        padding: 0 0 0 15px;
        font-size: 14px;

    }

}

.form-control {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.separator {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
    height: 20px;
    position: relative;
    background: transparent;
    color: rgb(111, 111, 111);
    font-size: 13px;
    width: 90%;
    max-width: 680px;

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        background: rgb(111, 111, 111);
        height: 1px;
        width: 40%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0;
        background: rgb(111, 111, 111);
        height: 1px;
        width: 40%;
    }
}

.agreeAll {
    padding-left: 20px;
    display: flex;
    line-height: 30px;

    li {
        color: rgb(111, 111, 111);
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.join_box {
    padding: 0px;
}

textarea {
    margin-left: 20px;
    width: 385px;
    height: 50px;
}

.essential {
    color: red;
}

.custom_textarea {
    resize: none;
    color: black;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    margin-left: 20px;
    display: block;
    width: 390px;
    height: 50px;
    border-radius: 4px;
    background-color: #fff6a6;
    color: #363636;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.btn:hover {
    background-color: #fff27a;
    color: #585858;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#check01,
#check02,
#check03 {
    width: 20px;
    height: 30px;
}

.btnArea {
    height: 70px;
}

.namePhone {
    width: 390px;
    display: flex;

    input {
        width: 158px;
        margin-top: 0px;
    }
}

.title {

    display: flex;
    flex-direction: column;
}

.fa-circle-check {
    color: #474747;
}

.userId {
    padding-left: 24px;
    margin-bottom: 20px;
}

.input__block {
    width: 395px;
    display: flex;
    justify-content: space-between;
}

#blue {
    color: #808080;
}

.edit {
    height: auto;

    button {
        width: 390px;
        border-radius: 4px;
    }
}

#passwordError,
.error {
    padding-left: 23px;

    color: red;
}

.errorArea {
    margin-bottom: 20px;
}

.label {
    margin-left: 24px;
    color: #F21365;
}

.namePhoneLabel {
    width: 284px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#star {
    padding-left: 120px;
    color: red;

    &:hover {
        color: red;
    }
}


.passwordArea {
    i {
        margin-left: 300px;
        color: #8a8a8a;
    }
}

.labelId {
    display: block;
}

#userId {
    width: 250px;
    display: inline;
}

#duplicateId {
    display: inline;
    width: 95px;
    height: 52px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 4px;

    &:hover {
        background-color: #c9c9c9;
        color: #333;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}