.HanMemDeliveryBody{
  width: 100%;
  background-color: #f1f0f1;
  padding-top: 10px;
  padding-bottom: 60px;

}

.HanAddressPopContainer {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  height: auto;
  padding-bottom: 50px;
  gap: 20px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.HanSignUpLogoDiv {
  padding-top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HanSignUpDiv {
  padding: 15px 0;
  padding-bottom: 18px;
}


.HanAddressPopContainer h1 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
  margin-top: -30px;

}


.HanAddressPopTitle {

  font-size: 35px;
  margin-bottom: 20px;
}


.HanAddressPopCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


}


.HanAddressPopCard {
  background-color: white;
  display: flex;
  justify-content: center;
}

.HanAddressPopRadio {
  position: relative;
  box-sizing: border-box;
  padding: 15px 55px;
  width: 650px;
  height: 130px;
  border: 1px solid #ccc;
  border-radius: 5px;

}



.HanAddressPopCardList {
  width: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}


.HanAddressPopCardTextDiv {
  width: 400px;
  height: 60px;

}

.HanAddressPopCardTextP1 {
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
  font-weight: bolder;
  color: #4a4949;
}

.HanAddressPopCardTextP2 {
  margin: 0;
  font-size: 19px;
}


.HanAddressPopCardTextTagDiv {
  margin-top: 2px;
  display: flex;
  align-items: center;

}

.HanAddressPopCardTextTagDiv img {
  position: absolute;
  top: 17px;
  right: 18px;

  width: 25px;
  height: 25px;

}


.HanAddressPopCardTextTagDiv p {
  display: inline-block;


}

.HanAddressPopCardTextTag {
  margin: 0;
  font-size: 23px;

}

.HanAddressPopCardTextDiv3 {
  margin-top: 5px;
}

.HanAddressPopCardTextDiv3 p {
  display: inline-block;
  margin: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #5c5c5c;
}





.HanAddressPopCardTextDiv2 {
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}


.HanAddressPopButton {
  width: 650px;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.HanAddressPopButton button {
  width: 650px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanAddressPopButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanAddressPopButton .HanSubmit {
  background-color: #eff7f6;
  color: #333;
}

.HanAddressPopButton .HanNew:hover {
  background-color: #fdef6f;
  color: #535353;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.HanAddressPopButton .HanSubmit:hover {
  background-color: #d5eeeb;
  color: #333;
  box-shadow: 0 3px 6px #cacaca1a;
}

.HanAddressPopButton .HanClose {
  background-color: #FFADAD;
  color: #3f3f3f;
}

.HanAddressPopButton .HanClose:hover {
  background-color: #ee8686;
  color: #3f3f3f;
  box-shadow: 0 3px 6px #cacaca1a;
}


.HanNewButton {
  position: relative;
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.HanNewButton img {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 250px;
  top: 18px;

}


.HanNewButton button {
  width: 650px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.HanNewButton .HanNew {
  text-indent: 25px;
  background-color: #fff6a6;
  color: #363636;
}


.HanNewButton .HanNew:hover {
  background-color: #fdef6f;
  color: #535353;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}